<div class="welcome">
  <img
    src="/assets/images/logo-welcome.svg
"
    alt=""
    class="welcome__logo"
  />
  <div class="welcome__wrap">
    <h1 class="welcome__catcopy">明日のために理想の体調と体型を作りましょう</h1>
    <p class="welcome__text">
      日々の食事、体重、体脂肪を記録し、食事のP（タンパク質）F（脂質）C（炭水化物）バランスや摂取カロリー・体重・体脂肪の遷移を数値として把握できるサービスです。
    </p>
    <button
      mat-raised-button
      color="basic"
      type="button"
      class="welcome__button"
      (click)="login()"
    >
      <img
        src="/assets/images/google.svg"
        alt=""
        class="welcome__button-icon"
      />

      <span class="welcome__button-text">Googleでログイン</span>
    </button>

    <img class="welcome__image" src="/assets/images/welcome.svg" alt="" />
  </div>
</div>
<div class="border"></div>
<footer class="footer">
  <ul class="footer__wrap">
    <a routerLink="/more/terms" class="footer__link">利用規約</a>
    <a routerLink="/more/legal" class="footer__link"
      >特定商取引法に基づく表示</a
    >
  </ul>
  <small class="footer__creater">
    &copy; 2021
    <a
      href="https://twitter.com/kaki_fhmcn"
      target="_blank"
      class="footer__creater-link"
      >kaki</a
    >
  </small>
</footer>
