h1 {
  font-size: 14px;
  font-weight: normal;
}

.search {
  display: block;
  margin: 16px auto;
  width: 85%;
  border-radius: 5px;
  height: 20px;
}

.food {
  display: flex;
  align-items: center;
  &__amountper {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
    color: #009688;
  }
  &__name {
    margin-right: 16px;
    width: 100px;
    margin-bottom: 16px;
    &--with-amount {
      margin: 0;
    }
  }
  &__amount-form {
    display: block;
    -webkit-appearance: none;
    width: 10%;
    border-radius: 5px;
    height: 20px;
  }
}
button {
  margin: 0 16px;
  height: 18px;
}
