.search {
  display: block;
  margin: 0 auto;
  width: 85%;
  border-radius: 5px;
  height: 20px;
}

.meal {
  &__amountper {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
    color: #009688;
  }
  &__name {
    &--with-amount {
      margin-bottom: 0;
    }
  }
}
button {
  margin: 0 16px;
  height: 18px;
}
