.welcome {
  margin: 0 auto;
  padding: 64px 24px 24px 24px;
  overflow: hidden;
  max-width: 900px;

  &__logo {
    @media screen and (max-width: 750px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__wrap {
    padding: 32px 0;
    display: grid;
    row-gap: 64px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'catcopy image'
      'text image'
      'button image';
    background: #fafafa;

    @media screen and (max-width: 750px) {
      gap: 16px;
      grid-template-columns: 1fr;
      grid-template-rows: 160px 1fr 1fr 40px;
      grid-template-areas:
        'catcopy'
        'image'
        'text'
        'button';
    }
  }

  &__catcopy {
    grid-area: catcopy;
    align-self: end;
    margin: 0;
    font-size: 35px;
    color: #737373;
    width: 100%;
    line-height: 1.5;
  }

  &__text {
    width: 100%;
    margin: 0;
    align-self: center;
    color: #737373;
    font-size: 22px;
    grid-area: text;
  }

  &__button {
    height: 40px;
    max-width: 200px;
    cursor: pointer;
    color: #737373;
    white-space: nowrap;

    grid-area: button;

    @media screen and (max-width: 750px) {
      justify-self: center;
    }
  }

  &__button-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    height: 18px;
    box-sizing: border-box;
  }

  &__button-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
  }

  &__image {
    grid-area: image;
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 380px;
  }
}

.footer {
  padding: 32px 0;
  background: #ffffff;

  &__wrap {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 8px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;

    @media screen and(max-width:750px) {
      grid-template-columns: 1fr;
    }
  }

  &__link {
    font-size: 13px;
    max-width: 240px;
    text-decoration: none;
    color: #919191;

    &:hover {
      text-decoration: underline;
    }
  }

  &__creater {
    display: block;
    font-size: 13px;
    color: #444444;
    text-align: center;
    margin: 0 atuo;
  }

  &__creater-link {
    font-size: 13px;
    color: #444444;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
