body {
  display: flex;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
.not-found {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
  }
}
.wrap {
  margin-right: 24px;
  @media screen and (max-width: 480px) {
    margin: 0;
    margin-bottom: 24px;
  }
  &__title {
    font-size: 100px;
    margin-bottom: 24px;
    font-weight: normal;
    line-height: 1;
  }
  &__sub {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: normal;
    line-height: 1;
  }
  &__span {
    display: block;
  }
  &__description {
    margin-bottom: 16px;
  }
}
