<ng-template #noFav>
  <div class="no">
    <h3 class="no__title">
      <mat-icon color="warn">favorite</mat-icon
      >お気に入りの食材はまだ登録されていません。
    </h3>

    <p>
      お気に入り食材を検索タブから登録しましょう！
    </p>
    <button
      mat-stroked-button
      color="primary"
      routerLink="/editor-meal/search"
      [queryParams]="{ date: date, meal: meal }"
      routerLinkActive="router-link-active"
      class="no__create"
    >
      <mat-icon>add</mat-icon><span>登録する</span>
    </button>
  </div>
</ng-template>
<div *ngIf="favFoods$ | async as favFoods">
  <div *ngIf="favFoods.length > 0; else noFav">
    <div *ngFor="let favFood of favFoods">
      <div class="food">
        <button
          class="food__fav"
          mat-icon-button
          color="warn"
          (click)="unLikeFavFood(favFood.foodId)"
        >
          <mat-icon>favorite</mat-icon>
        </button>

        <div class="food__name">
          <p class="food__name--with-amount">
            {{ favFood.foodName }}
          </p>
          <span class="food__amountper">
            {{ favFood.foodCalPerAmount }}kcal/{{ favFood.unit }}
          </span>
        </div>

        <input
          class="food__amount-form"
          text="number"
          max="100"
          min="0"
          step="0.1"
          [(ngModel)]="amount[favFood.foodId]"
          type="number"
        />
        <span>{{ favFood.unit }}</span>
        <p class="spacer"></p>
        <p class="food__cal">
          {{
            favFood.foodCalPerAmount * amount[favFood.foodId] | number: '1.1-1'
          }}kcal
        </p>

        <button
          mat-icon-button
          color="primary"
          (click)="addFood(amount[favFood.foodId], favFood)"
        >
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
