<div class="content">
  <div class="calendar">
    <mat-form-field>
      <mat-label>日付を選択してください</mat-label>
      <input
        matInput
        autocomplete="off"
        [matDatepicker]="picker"
        [min]="minDate"
        [max]="maxDate"
        [value]="date"
        (dateChange)="createGraphByChangingDate($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <h3 *ngIf="!legend">{{ graphTitle }}</h3>
  <mat-button-toggle-group
    class="button-toggle-group"
    #group="matButtonToggleGroup"
    value="日"
    (change)="changedGraphCycle($event)"
  >
    <mat-button-toggle
      class="mat-button-toggle mat-button-toggle--cycle"
      *ngFor="let item of toggleCycleOptions"
      [value]="item"
    >
      {{ item }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="loading" *ngIf="loading">
    <mat-spinner class="loading__spinner" diameter="30"></mat-spinner>
  </div>
  <div class="graph" *ngIf="!loading">
    <ngx-charts-line-chart
      *ngIf="weightGraph && preWeight.length > 0"
      (window:resize)="onResize($event)"
      [view]="view"
      [legendPosition]="legendPosition"
      [scheme]="colorScheme"
      [legend]="legend"
      [legendTitle]="legendWeight"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="dataWeight"
    >
    </ngx-charts-line-chart>
    <p class="graph__text" *ngIf="preWeight.length === 0 && weightGraph">
      体重の平均データまだはありません
    </p>
    <ngx-charts-line-chart
      *ngIf="fatGraph && preFat.length > 0"
      (window:resize)="onResize($event)"
      [view]="view"
      [legendPosition]="legendPosition"
      [scheme]="colorScheme"
      [legend]="legend"
      [legendTitle]="legendFat"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="dataFat"
    >
    </ngx-charts-line-chart>
    <p class="graph__text" *ngIf="preFat.length === 0 && fatGraph">
      体脂肪の平均データまだはありません
    </p>
    <ngx-charts-line-chart
      *ngIf="totalCalGraph && preTotalCal.length > 0"
      (window:resize)="onResize($event)"
      [view]="view"
      [legendPosition]="legendPosition"
      [scheme]="colorScheme"
      [legend]="legend"
      [legendTitle]="legendTotalCal"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="dataTotalCal"
    >
    </ngx-charts-line-chart>
    <p class="graph__text" *ngIf="preTotalCal.length === 0 && totalCalGraph">
      摂取カロリーの平均データまだはありません
    </p>
  </div>
  <mat-button-toggle-group
    *ngIf="!legend"
    class="button-toggle-group button-toggle-group--category"
    #groupCategory="matButtonToggleGroup"
    value="weight"
    (change)="changeTitle($event)"
  >
    <mat-button-toggle class="mat-button-toggle" value="weight">
      体重
    </mat-button-toggle>
    <mat-button-toggle class="mat-button-toggle" value="fat">
      体脂肪
    </mat-button-toggle>
    <mat-button-toggle class="mat-button-toggle" value="totalCal">
      カロリー
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
