h3 {
  margin: 0;
  font-weight: normal;
  margin-right: 32px;
  font-size: 16px;
}
.graph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  text-align: center;
  &__button {
    margin-right: 16px;
  }
}
.calendar {
  margin: 16px auto;
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  margin-bottom: 8px;
}
