h3 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
  @media (min-width: 480px) {
    margin-bottom: 32px;
  }
}
.graph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 8px;
  &--date {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 8px;
    @media (min-width: 480px) {
      margin-bottom: 48px;
    }
  }
  &--category {
    margin-top: -48px;
    grid-template-columns: 1fr 1fr 1fr;
    @media (min-width: 480px) {
      margin-top: -16px;
    }
  }
  @media (min-width: 480px) {
    gap: 16px;
  }
}
.calendar {
  margin: 16px auto;
  display: flex;
  justify-content: center;
}
