<mat-toolbar>
  <mat-toolbar-row class="header">
    <button class="logo" routerLink="/">
      <img class="logo__image" src="/assets/images/logo.svg" alt="" />
    </button>

    <ng-container *ngIf="!selectedValue"
      ><h1 class="title">{{ title$ | async }}</h1></ng-container
    >
    <div class="header__wrapper">
      <ng-container *ngIf="selectedValue">
        <h1 class="other-title">
          {{ title$ | async }}
        </h1>

        <mat-form-field
          *ngIf="selectedValue"
          class="field mat-select-arrow-wrapper"
          appearance="fill"
        >
          <mat-select
            [value]="selectedValue"
            class="select"
            (selectionChange)="chanageMeal($event.value)"
          >
            <mat-option value="breakfast">
              朝食
            </mat-option>
            <mat-option value="lunch">
              昼食
            </mat-option>
            <mat-option value="dinner">
              夕食
            </mat-option>
          </mat-select>
        </mat-form-field></ng-container
      >
    </div>
    <!-- プロフィール  -->

    <div class="mypage">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img
          *ngIf="avatarURL"
          [src]="avatarURL"
          alt="avatar"
          class="avatar-image"
        />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>login</mat-icon>
          <span>ログアウト</span>
        </button>
        <button mat-menu-item>
          <mat-icon>support</mat-icon>
          <span>開発者を応援する</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row></mat-toolbar
>
