@import '~@angular/material/theming';
.header {
  @include mat-elevation(1);
  display: grid;
  grid-template-columns: 70px 1fr 1fr 50px;
  row-gap: 4px;
  grid-template-areas: 'logo title title icon';
  &__wrapper {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    align-items: center;
    justify-items: center;
    z-index: 20;
  }
}
.title {
  grid-area: title;
  justify-self: center;
  text-align: center;
}
.other-title {
  font-size: 15px;
}
.mypage {
  grid-area: icon;
  justify-self: end;
}
.avatar-image {
  border-radius: 50%;
  width: 40px;
  background: center/cover;
}

.field {
  width: 80px;
  height: 60px;
  font-size: 13px;
  margin-right: 8px;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: none;
}

.logo {
  margin: 0;
  justify-self: start;
  outline: none;
  cursor: pointer;
  border: 0px;
  background: none;
  grid-area: logo;
  &__image {
    height: 50px;
  }
}
