<mat-toolbar>
  <mat-toolbar-row class="header">
    <div class="logo" routerLink="/">
      <img class="logo__image" src="/assets/images/logo.svg" alt="" />
    </div>

    <div class="spacer"></div>

    <ng-container *ngIf="!selectedValue">
      <h1 class="title" *ngIf="!(title$ | async).includes('2')">
        {{ title$ | async }}
      </h1>
      <h1
        *ngIf="(title$ | async).includes('2')"
        class="title title--date"
        (click)="picker.open()"
      >
        {{ title$ | async
        }}<mat-icon class="title__icon">arrow_drop_down</mat-icon>
      </h1>
      <mat-form-field class="example-full-width" style="display: none;">
        <input
          matInput
          [matDatepicker]="picker"
          [min]="minDate"
          [max]="maxDate"
          (dateChange)="changeDate($event)"
        />

        <mat-datepicker #picker panelClass="datepicker"></mat-datepicker>
      </mat-form-field>
    </ng-container>

    <div class="header__meal" *ngIf="selectedValue">
      <ng-container>
        <h1 class="other-title" (click)="picker.open()">
          {{ title$ | async }}
        </h1>
        <mat-form-field class="example-full-width" style="display: none;">
          <input
            matInput
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            (dateChange)="changeDate($event)"
          />
          <mat-datepicker #picker panelClass="datepicker"></mat-datepicker>
        </mat-form-field>
        <button class="meal" mat-button [matMenuTriggerFor]="meal">
          {{ mealTitle }}<mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #meal="matMenu">
          <button mat-menu-item (click)="chanageMeal('breakfast')">
            朝食
          </button>
          <button mat-menu-item (click)="chanageMeal('lunch')">
            昼食
          </button>
          <button mat-menu-item (click)="chanageMeal('dinner')">
            夕食
          </button>
        </mat-menu>
      </ng-container>
    </div>

    <div class="spacer"></div>

    <div class="header__wrap">
      <div class="navs">
        <button
          mat-icon-button
          color="primary"
          matTooltip="グラフ"
          aria-label="Button that displays a tooltip when focused or hovered over"
          class="navs__item"
          routerLink="/graph"
        >
          <mat-icon
            [fontSet]="
              (title$ | async) === 'グラフ'
                ? 'material-icons'
                : 'material-icons-outlined'
            "
            >insert_chart</mat-icon
          >
        </button>
        <button
          mat-icon-button
          color="primary"
          matTooltip="マイメニュー"
          aria-label="Button that displays a tooltip when focused or hovered over"
          class="navs__item"
          routerLink="/menu/set-list"
        >
          <mat-icon
            [fontSet]="
              (title$ | async) === 'マイメニュー'
                ? 'material-icons'
                : 'material-icons-outlined'
            "
            >library_books</mat-icon
          >
        </button>
      </div>

      <div class="mypage">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img
            [src]="avatarURL ? avatarURL : '/assets/images/user-avatar.svg'"
            alt="avatar"
            class="avatar-image"
          />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>login</mat-icon>
            <span>ログアウト</span>
          </button>
          <button mat-menu-item *ngIf="more" routerLink="/more">
            <mat-icon>more_horiz</mat-icon>
            <span>その他</span>
          </button>
          <button mat-menu-item routerLink="/billing">
            <mat-icon>support</mat-icon>
            <span>開発者を応援する</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
