@import '~@angular/material/theming';

h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;
}

.title {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;

  &--top {
    margin-top: 32px;
  }
}

p {
  margin: 0;
}

.form-wrap {
  max-width: 700px;
  margin: 0 auto 60px;
  padding: 32px 8px 8px;
  background: #fff;
  @include mat-elevation(1);
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #ffff;
  height: 56px;
  @include mat-elevation(1);

  &__clear-button {
    position: fixed;
    top: 8px;
    left: 8px;
  }

  &__submit-button {
    position: fixed;
    top: 8px;
    right: 8px;
  }
}

.overview {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;

  &__name-field {
    margin-bottom: 16px;
    font-size: 15px;
  }

  &__name-form {
    font-size: 16px;
  }

  &__image-form {
    display: none;
  }

  &__thumbnail-button {
    height: 120px;
    background: #fff;
    border: 1px dashed hsl(0, 0%, 86%);
    border-radius: 10px;
    outline: none;
    color: #767676;
    cursor: pointer;

    &:hover {
      @include mat-elevation(2);
    }
  }

  img {
    background: #ffff center/cover;
    max-width: 300px;
    width: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      @include mat-elevation(2);
    }
  }
}

.summary {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.ingredient {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dbdbdb;
  background: #fff;
  @include mat-elevation(1);

  &__title {
    display: flex;
    justify-content: space-between;
    h2 {
      align-self: flex-end;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 0;

    &--end {
      max-width: 40px;
      padding: 0 16px;
    }
  }

  &__row {
    height: 80px;
  }

  &__cell {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;

    &--end {
      max-width: 40px;
      padding: 0 16px;
    }
  }

  &__form-field {
    width: 90%;
    max-width: 300px;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__validation {
    color: #e25241;
  }
}

.process {
  margin-bottom: 60px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  background: #fff;
  @include mat-elevation(1);

  &__title {
    display: flex;
    justify-content: space-between;

    h2 {
      align-self: flex-end;
    }
  }

  p {
    margin: 0;
    color: #767676;
  }

  &__header {
    display: flex;
    justify-content: center;

    &--index {
      max-width: 10%;
      padding-left: 8px;
    }

    &--end {
      max-width: 40px;
      padding: 0 16px;
    }
  }

  &__row {
    height: 150px;
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      width: 25vw;
      height: 25vw;
      max-width: 100px;
      max-height: 100px;
      border-radius: 5px;
      background: #ffff;
      cursor: pointer;

      &:hover {
        @include mat-elevation(2);
      }
    }

    &--index {
      max-width: 10%;
      padding-left: 8px;
    }

    &--end {
      max-width: 40px;
      padding: 0 16px;
    }
  }

  &__number {
    margin: 0;
    margin-left: 8px;
    min-height: 30px;
  }

  &__image-form {
    display: none;
  }

  &__image {
    width: 25vw;
    height: 25vw;
    max-width: 100px;
    max-height: 100px;
    padding: 0;
    background: #fff;
    border: 1px dashed #dbdbdb;
    border-radius: 5px;
    outline: none;
    color: #767676;
    cursor: pointer;

    &:hover {
      @include mat-elevation(2);
    }
  }

  &__form-field {
    margin-top: 8px;
    width: 100%;
    max-width: 300px;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__validation {
    color: #e25241;
  }
}

.nutrition {
  margin-bottom: 60px;
  border-bottom: 1px solid #dbdbdb;

  &__detail {
    padding: 0 8px;
    border-top: 1px solid #dbdbdb;
    background: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    @include mat-elevation(1);

    &--top {
      border: none;
    }
  }

  &__name {
    margin: 0;
  }

  &__form-fied {
    width: 48%;
    max-width: 250px;
    margin-top: 8px;
    font-size: 7px;
  }

  &__amount {
    font-size: 14px;
    text-align: right;
  }

  &__prefix {
    font-size: 15px;
    width: 30px;
    margin: 0 4px;
  }
}

.public {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  max-width: 700px;
  padding: 24px 8px;
  margin-bottom: 60px;
  @include mat-elevation(1);
}

.submit-button {
  display: block;
  margin: 0 auto;
}
