rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
        allow read: if request.auth.uid == userId;
        allow write: if false;

      match /basicInfo/{userId} {
        allow read: if request.auth.uid == userId;
        allow create: if false;
        allow update: if request.auth.uid == userId;
        allow update: if false;
      }

      match /dailyInfos/{dailyId=**} {
        allow read: if request.auth.uid == userId;
        allow create: if request.auth.uid == userId;
        allow update: if request.auth.uid == userId && request.resource.data.userId && resource.data.authoerId;
        allow create: if false;
     }

      match /averagesWeek/{week=**} {
        allow read: if request.auth.uid == userId;
        allow write: if false;
     }

      match /averagesMonth/{month=**} {
        allow read: if request.auth.uid == userId;
        allow write: if false;
     }

      match /averagesYear/{year=**} {
        allow read: if request.auth.uid == userId;
        allow write: if false;
     }
   }
  }
}

