rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
        allow read: if request.auth.uid == userId;
        allow create: if request.auth.uid == userId;
        allow update: if request.auth.uid == userId;
        allow delete: if request.auth.uid == userId;

      match /basicInfo/{userId} {
        allow read: if request.auth.uid != null;
        allow create: if false;
        allow update: if request.auth.uid == userId;
        allow delete: if false;
      }

      match /dailyInfos/{dailyId=**} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
     }

      match /sets/{setId=**} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
     }

      match /favFoods/{foodId=**} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
     }

      match /averagesWeek/{week=**} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
     }

      match /averagesMonth/{month=**} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
     }

      match /averagesYear/{year=**} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
     }
   }

    match /foods/{foodId} {
      allow read: if request.auth.uid != null;
      allow write: if false;
   }

    match /recipes/{recipeId} {
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resource.data.authorId && resource.data.authorId == request.resource.data.authorId;
      allow delete: if request.auth.uid == resource.data.authorIdfalse;
   }

    match /customers/{userId} {
      allow read: if false;
      allow write: if false;
   }
  }
}

