<mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
<div *ngIf="!loading">
  <form [formGroup]="form" (ngSubmit)="updateRecipe()">
    <div class="head">
      <button type="button" mat-icon-button (click)="back()">
        <mat-icon>clear</mat-icon>
      </button>
      <h1>レシピ{{ isCreating ? '作成' : '編集' }}画面</h1>

      <button mat-raised-button [disabled]="form.invalid" color="primary">
        保存
      </button>
    </div>
    <div class="container">
      <div class="form-wrap">
        <div class="title">
          <mat-form-field class="title__name-field" appearance="outline">
            <mat-label>レシピタイトル</mat-label>
            <input
              matInput
              placeholder="カレー"
              class="title__name-form"
              type="text"
              formControlName="recipeTitle"
              required
            />
            <mat-error *ngIf="recipeTitle.hasError('required')"
              >必須入力です</mat-error
            >
            <mat-error *ngIf="recipeTitle.hasError('maxlength')"
              >入力文字数が多すぎます</mat-error
            >
          </mat-form-field>

          <h2>レシピイメージ</h2>
          <input
            #thumbnail
            class="title__image-form"
            type="file"
            (change)="thumbnailDialog($event)"
            accept=".png, .jpg, .jpeg"
          />
          <button
            type="button"
            *ngIf="!thumbnailURL"
            (click)="thumbnail.click()"
            class="title__thumbnail-button"
          >
            <mat-icon class="camera-icon">add_photo_alternate</mat-icon>
            <p>写真挿入</p>
          </button>
          <img
            *ngIf="thumbnailURL"
            (click)="thumbnail.click()"
            [src]="thumbnailURL"
            alt="recipe-thumbnail"
          />
        </div>

        <div class="summary">
          <mat-form-field appearance="outline">
            <mat-label>ポイント</mat-label>
            <textarea
              matInput
              rows="5"
              formControlName="recipeDescription"
            ></textarea>

            <mat-error *ngIf="descriptionControl.hasError('maxlength')"
              >入力文字数が多すぎます</mat-error
            >
          </mat-form-field>
        </div>

        <div class="ingredient__title">
          <h2>材料<span>*</span></h2>

          <button
            type="button"
            mat-button
            *ngIf="ingredientQuanity !== 0"
            (click)="editIngredient()"
          >
            <span *ngIf="!ingredient">編集</span
            ><span *ngIf="ingredient">完了</span>
          </button>
        </div>
        <div class="ingredient">
          <mat-table
            [dataSource]="dataSource"
            formArrayName="ingredients"
            class="mat-elevation-z0 table"
          >
            <ng-container matColumnDef="name">
              <mat-header-cell class="ingredient__header" *matHeaderCellDef>
                材料名
              </mat-header-cell>
              <mat-cell
                class="ingredient__cell"
                *matCellDef="let element; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field class="ingredient__form-field">
                  <input
                    matInput
                    class="ingredient__input"
                    type="text"
                    formControlName="name"
                  />
                  <mat-error *ngIf="element.get('name').hasError('required')"
                    >必須入力です</mat-error
                  ><mat-error *ngIf="element.get('name').hasError('maxlength')">
                    入力文字数が多すぎます</mat-error
                  ></mat-form-field
                >
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell class="ingredient__header" *matHeaderCellDef>
                数量
              </mat-header-cell>
              <mat-cell
                class="ingredient__cell"
                *matCellDef="let element; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field class="ingredient__form-field">
                  <input
                    matInput
                    class="ingredient__input"
                    type="text"
                    formControlName="amountAndUnit"
                    autocomplete="off"
                  />
                  <mat-error
                    *ngIf="element.get('amountAndUnit').hasError('required')"
                    >必須入力です</mat-error
                  >
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell
                class="ingredient__header ingredient__header--end"
                *matHeaderCellDef
              >
              </mat-header-cell>
              <mat-cell
                class="ingredient__cell ingredient__cell--end"
                *matCellDef="let element; let i = index"
              >
                <button
                  type="button"
                  mat-icon-button
                  *ngIf="ingredient"
                  (click)="removeIngredinet(i)"
                >
                  <mat-icon color="warn">remove_circle_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>

          <div>
            <button
              type="button"
              (click)="addIngredinet()"
              mat-icon-button
              color="primary"
            >
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </div>
        <div class="process__title">
          <h2>作り方</h2>
          <button
            type="button"
            mat-button
            *ngIf="processQuanity !== 0"
            (click)="editProcess()"
          >
            <span *ngIf="!process">編集</span><span *ngIf="process">完了</span>
          </button>
        </div>
        <div class="process">
          <mat-table
            [dataSource]="processSource"
            formArrayName="processes"
            class="mat-elevation-z0 table"
          >
            <ng-container matColumnDef="index">
              <mat-header-cell
                class="process__header process__header--index"
                *matHeaderCellDef
              >
              </mat-header-cell>
              <mat-cell
                class="process__cell process__cell--index"
                *matCellDef="let element; let i = index"
              >
                <p>{{ i + 1 }}</p>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="image">
              <mat-header-cell class="process__header" *matHeaderCellDef>
                手順イメージ
              </mat-header-cell>
              <mat-cell
                class="process__cell process__cell--image-form"
                *matCellDef="let element; let i = index"
              >
                <input
                  #processImage
                  (change)="processImageDialog($event, i)"
                  class="process__image-form"
                  type="file"
                  accept=".png, .jpg, .jpeg"
                />
                <button
                  type="button"
                  *ngIf="!ProcessURLs[i]"
                  (click)="processImage.click()"
                  class="process__image"
                >
                  <mat-icon>add_photo_alternate</mat-icon>
                  <p>写真挿入</p>
                </button>
                <img
                  *ngIf="ProcessURLs[i]"
                  (click)="processImage.click()"
                  [src]="ProcessURLs[i]"
                  alt="recipe-process"
                />
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell class="process__header" *matHeaderCellDef>
                ポイント
              </mat-header-cell>
              <mat-cell
                class="process__cell"
                *matCellDef="let element; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field
                  class="process__form-field"
                  appearance="outline"
                >
                  <textarea
                    matInput
                    rows="3"
                    formControlName="description"
                    class="process__description"
                    placeholder="りんごを切る"
                  ></textarea>
                  <mat-error
                    *ngIf="element.get('description').hasError('required')"
                    >必須入力です</mat-error
                  >
                  <mat-error
                    *ngIf="element.get('description').hasError('maxlength')"
                    >入力文字数が多すぎます</mat-error
                  >
                </mat-form-field>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell
                class="ingredient__header ingredient__header--end"
                *matHeaderCellDef
              >
              </mat-header-cell>
              <mat-cell
                class="process__cell process__cell--end"
                *matCellDef="let element; let i = index"
              >
                <button
                  type="button"
                  mat-icon-button
                  *ngIf="process"
                  (click)="removeProcess(i)"
                >
                  <mat-icon color="warn">remove_circle_outline</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumnsProcess"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumnsProcess"
            ></mat-row>
          </mat-table>
          <div class="process__wrapper">
            <button
              type="button"
              (click)="addProcess()"
              mat-icon-button
              color="primary"
            >
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </div>

        <div class="nutrition">
          <h2>栄養素</h2>
          <div class="nutrition__detail">
            <p class="nutrition__name">総カロリー</p>

            <mat-form-field class="nutrition__form-fied" appearance="outline">
              <input
                matInput
                class="nutrition__amount"
                type="number"
                autocomplete="off"
                min="0"
                max="5000"
                formControlName="recipeCal"
              />
              <span matSuffix>kcal</span>
            </mat-form-field>
          </div>
          <div class="nutrition__detail">
            <p class="nutrition__name">タンパク質</p>
            <mat-form-field class="nutrition__form-fied" appearance="outline">
              <input
                matInput
                class="nutrition__amount"
                type="number"
                autocomplete="off"
                min="0"
                max="5000"
                formControlName="recipeProtein"
              />
              <span matSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="nutrition__detail">
            <p class="nutrition__name">脂質</p>
            <mat-form-field class="nutrition__form-fied" appearance="outline">
              <input
                matInput
                class="nutrition__amount"
                type="number"
                autocomplete="off"
                min="0"
                max="5000"
                formControlName="recipeFat"
              />
              <span matSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="nutrition__detail">
            <p class="nutrition__name">糖質</p>
            <mat-form-field class="nutrition__form-fied" appearance="outline">
              <input
                matInput
                class="nutrition__amount"
                type="number"
                autocomplete="off"
                min="0"
                max="5000"
                formControlName="recipeSugar"
              />
              <span matSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="nutrition__detail">
            <p class="nutrition__name">食物繊維</p>
            <mat-form-field class="nutrition__form-fied" appearance="outline">
              <input
                matInput
                class="nutrition__amount"
                type="number"
                autocomplete="off"
                min="0"
                max="5000"
                formControlName="recipeDietaryFiber"
              />
              <span matSuffix>g</span>
            </mat-form-field>
          </div>
          <div class="nutrition__detail">
            <p class="nutrition__name">炭水化物</p>
            <mat-form-field class="nutrition__form-fied" appearance="outline">
              <input
                matInput
                class="nutrition__amount"
                type="number"
                autocomplete="off"
                min="0"
                max="5000"
                formControlName="recipeTotalCarbohydrate"
              />
              <span matSuffix>g</span>
            </mat-form-field>
          </div>
        </div>

        <div class="public">
          <p>レシピを公開する</p>
          <mat-slide-toggle
            class="example-margin"
            color="primary"
            [(checked)]="public"
            (change)="changePublic()"
          >
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </form>
</div>
