@import '~@angular/material/theming';
:host {
  display: block;
}
.meal-nav {
  height: 40px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  z-index: 10;
  border-left: none;
  border-right: none;
  border-radius: 0;
  position: sticky;
  top: 0;
}
