<button
  *ngIf="queryParams"
  mat-stroked-button
  (click)="backToMeal()"
  class="meal-nav"
>
  <mat-icon>navigate_before</mat-icon>
  <span *ngIf="queryParams[1] === 'breakfast'">朝食登録へ戻る</span>
  <span *ngIf="queryParams[1] === 'lunch'">昼食登録へ戻る</span>
  <span *ngIf="queryParams[1] === 'dinner'">夕食登録へ戻る</span>
</button>

<div class="tabs">
  <nav
    mat-tab-nav-bar
    mat-align-tabs="center"
    animationDuration="0ms"
    [disablePagination]="true"
  >
    <a
      class="mat-tab-label"
      mat-tab-link
      routerLink="set-list"
      routerLinkActive
      #rla0="routerLinkActive"
      [active]="rla0.isActive"
    >
      マイセット
    </a>
    <a
      class="mat-tab-label"
      mat-tab-link
      routerLink="recipe-list"
      routerLinkActive
      #rla1="routerLinkActive"
      [active]="rla1.isActive"
    >
      レシピ
    </a>
  </nav>

  <div class="container">
    <div class="tab">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
