<button
  *ngIf="queryParams"
  mat-stroked-button
  (click)="backToMeal()"
  class="meal-nav"
>
  <mat-icon>navigate_before</mat-icon>
  <span *ngIf="queryParams[1] === 'breakfast'">朝食登録へ戻る</span>
  <span *ngIf="queryParams[1] === 'lunch'">昼食登録へ戻る</span>
  <span *ngIf="queryParams[1] === 'dinner'">夕食登録へ戻る</span>
</button>
<div class="container">
  <mat-tab-group mat-align-tabs="center" class="tabs">
    <mat-tab label="マイセット"><app-set></app-set> </mat-tab>
    <mat-tab label="レシピ"><app-recipe></app-recipe></mat-tab>
  </mat-tab-group>
</div>
