@import '~@angular/material/theming';
:host {
  display: block;
}
.meal-nav {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  border-left: none;
  border-right: none;
  border-radius: 0;
  position: sticky;
  top: 0;
}
.tab {
  max-width: 700px;
  margin: 0 auto;
}
