<a
  *ngIf="mealPageQueryParams"
  mat-stroked-button
  routerLink="/editor-meal/my-set"
  [queryParams]="{
    date: mealPageQueryParams.date,
    meal: mealPageQueryParams.meal
  }"
  class="meal-nav"
>
  <mat-icon>navigate_before</mat-icon>
  <span>{{ mealCategory[mealPageQueryParams.meal] }}登録へ戻る</span>
</a>

<div class="tabs">
  <nav
    mat-tab-nav-bar
    mat-align-tabs="center"
    animationDuration="0ms"
    [disablePagination]="true"
  >
    <a
      class="mat-tab-label"
      mat-tab-link
      routerLink="set-list"
      routerLinkActive
      #rla0="routerLinkActive"
      [active]="rla0.isActive"
    >
      マイセット
    </a>
    <a
      class="mat-tab-label"
      mat-tab-link
      routerLink="recipe-list"
      routerLinkActive
      #rla1="routerLinkActive"
      [active]="rla1.isActive"
    >
      レシピ
    </a>
  </nav>

  <div class="container">
    <div class="tab">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
