@import '~@angular/material/theming';

.nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  @include mat-elevation(1);

  &__back-link {
    position: fixed;
    top: 8px;
    left: 8px;
  }

  &__wrap {
    position: fixed;
    top: 8px;
    right: 8px;
  }
}

.delete-button {
  color: rgb(115, 115, 115);
}

.update-to-page {
  @media screen and (min-width: 750px) {
    margin-right: 8px;
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 32px;
  border-radius: 4px;
  z-index: 0;

  &__image {
    width: 100%;
    max-width: 300px;
    background: center/cover;

    &--no-image {
      opacity: 0.5;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    font-size: 22px;
    font-weight: lighter;
  }
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

.recipe-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 32px 8px;
  background: #fff;
  @include mat-elevation(1);
}

.content-head {
  display: flex;
  justify-content: space-between;
  h2 {
    align-self: flex-end;
    overflow-wrap: anywhere;
  }

  h4 {
    padding: 4px;
    font-size: 15px;
    font-weight: normal;
    margin: 0 8px 8px 0;
    text-align: center;
    color: #009688;
    background: #ffff;
    border: 1px solid #009688;
  }
}

.content {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 24px;
  padding: 8px;
  background: #ffff;
  display: flex;
  justify-content: space-between;
  overflow-wrap: anywhere;

  &__name {
    margin-bottom: 8px;
  }

  &__point {
    height: 120px;
  }
}

.ingredients {
  margin-bottom: 32px;
}

.ingredient {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  &__name {
    width: 40%;
    overflow-wrap: anywhere;
  }

  &__amount {
    width: 40%;
    overflow-wrap: anywhere;
    text-align: right;
  }
}

.processes {
  margin-bottom: 32px;
}

.process {
  display: flex;
  justify-content: space-between;
  background: #ffff;
  border-top: 1px solid #dbdbdb;
  padding: 8px;
  &__index {
    margin: 0 8px;
    min-height: 30px;
  }

  &__wrapper {
    display: flex;
    margin-right: 16px;
  }

  &__image {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    align-self: center;
  }

  &__description {
    overflow-wrap: anywhere;
  }
}

.nutrition {
  border-top: 1px solid #dbdbdb;
  background: #fff;
  margin-bottom: 32px;
}

.nutrition__detail {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #dbdbdb;
}
