<div class="contents" *ngIf="recipe$ | async as recipe">
  <div class="nav">
    <a class="nav__back-button" mat-icon-button routerLink="/menu/recipe-list">
      <mat-icon>navigate_before</mat-icon>
    </a>
    <h1 class="nav__title">レシピ詳細画面</h1>
    <div class="nav__wrap">
      <a
        *ngIf="recipe.authorId === userId"
        class="update-to-page"
        mat-icon-button
        color="primary"
        routerLink="/recipe-editor"
        [queryParams]="{ id: recipe.recipeId }"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <button
        *ngIf="recipe.authorId === userId"
        mat-icon-button
        class="delete-button"
        (click)="openDeleteDialog(recipe.recipeId)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="recipe-wrap">
      <figure class="thumbnail">
        <img
          [ngClass]="
            recipe.recipeThumbnailURL
              ? 'thumbnail__image'
              : 'thumbnail__image thumbnail__image--no-image'
          "
          [src]="recipe.recipeThumbnailURL || '/assets/images/cooking.svg'"
          alt=""
        />
        <p *ngIf="!recipe.recipeThumbnailURL" class="thumbnail__text">
          No Image
        </p>
      </figure>
      <div class="content-head">
        <h2 class="content__name">レシピ名</h2>
        <h4 class="content__public" *ngIf="recipe.public">
          公開中
        </h4>
      </div>
      <div class="content">
        <h2 class="content__title">{{ recipe.recipeTitle }}</h2>
      </div>
      <ng-container *ngIf="recipe.recipeDescription">
        <h2 class="content__name">ポイント</h2>
        <div class="content">
          <p class="content__point">
            <span>{{ recipe.recipeDescription }}</span>
          </p>
        </div>
      </ng-container>
      <h2 class="content__name">材料</h2>
      <div class="ingredients">
        <div class="ingredient" *ngFor="let food of recipe.foods">
          <p class="ingredient__name">{{ food.name }}</p>
          <p class="ingredient__amount">{{ food.amountAndUnit }}</p>
        </div>
        <div class="border"></div>
      </div>
      <ng-container *ngIf="recipe.processes[0]">
        <h2 class="content__name">作り方</h2>
        <div class="processes">
          <div
            class="process"
            *ngFor="let process of recipe.processes; let i = index"
          >
            <div class="process__wrapper">
              <p class="process__index">{{ i + 1 }}</p>
              <img
                class="process__image"
                *ngIf="process.photoURL"
                [src]="process.photoURL"
                alt=""
              />
            </div>
            <p class="process__description">{{ process.description }}</p>
          </div>
          <div class="border"></div>
        </div>
      </ng-container>
      <h2 class="content__name">栄養素</h2>

      <div class="nutrition">
        <div class="nutrition__detail">
          <h3 class="nutrition__name">総カロリー</h3>
          <p>
            {{ recipe.recipeCal || '未入力' }}
            <span *ngIf="recipe.recipeCal">kcal</span>
          </p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">タンパク質</h3>
          <p>
            {{ recipe.recipeProtein || '未入力' }}
            <span *ngIf="recipe.recipeProtein">g</span>
          </p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            脂質
          </h3>
          <p>
            {{ recipe.recipeFat || '未入力' }}
            <span *ngIf="recipe.recipeFat">g</span>
          </p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            糖質
          </h3>
          <p>
            {{ recipe.recipeSugar || '未入力' }}
            <span *ngIf="recipe.recipeSugar">g</span>
          </p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            食物繊維
          </h3>
          <p>
            {{ recipe.recipeDietaryFiber || '未入力' }}
            <span *ngIf="recipe.recipeDietaryFiber">g</span>
          </p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            炭水化物
          </h3>
          <p>
            {{ recipe.recipeTotalCarbohydrate || '未入力' }}
            <span *ngIf="recipe.recipeTotalCarbohydrate">g</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
