<div class="contents" *ngIf="recipe$ | async as recipe">
  <div class="nav">
    <button
      class="back-to-page"
      mat-icon-button
      mat-raised-button
      routerLink="/menu"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <div class="spacer"></div>
    <button
      *ngIf="myRecipe ? true : false"
      class="update-to-page"
      mat-icon-button
      mat-raised-button
      color="primary"
      routerLink="/recipe-update"
      [queryParams]="{ id: recipe.recipeId }"
    >
      <mat-icon>create</mat-icon>
    </button>
    <button
      *ngIf="myRecipe ? true : false"
      mat-icon-button
      mat-raised-button
      class="delete"
      color="warn"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div *ngIf="recipe.recipeThumbnailURL">
    <img class="thumbnail" [src]="recipe.recipeThumbnailURL" alt="" />
  </div>
  <div *ngIf="!recipe.recipeThumbnailURL">
    <span class="no-thumbnail">No Image</span>
  </div>

  <h2 class="content__name">レシピ名</h2>

  <div class="content">
    <h1>{{ recipe.recipeTitle }}</h1>
  </div>
  <ng-container *ngIf="recipe.recipeDescription">
    <h2 class="content__name">ポイント</h2>
    <div class="content">
      <p class="content__point">
        <span>{{ recipe.recipeDescription }}</span>
      </p>
    </div>
  </ng-container>
  <h2 class="content__name">材料</h2>
  <div class="content" *ngFor="let food of recipe.foods">
    <p>{{ food.name }}</p>
    <p>{{ food.amountAndUnit }}</p>
  </div>
  <ng-container *ngIf="recipe.processes[0]">
    <h2 class="content__name">作り方</h2>
    <div class="processes">
      <div
        class="process"
        *ngFor="let process of recipe.processes; let i = index"
      >
        <div class="process__wrapper">
          <p>{{ i + 1 }}</p>
          <img [src]="process.photoURL" alt="" />
        </div>
        <p class="process__description">{{ process.description }}</p>
      </div>
      <div class="border"></div>
    </div>
  </ng-container>
  <h2 class="content__name">栄養素</h2>

  <div class="nutrition">
    <div class="nutrition__detail">
      <h3 class="nutrition__name">総カロリー</h3>
      <p>{{ recipe.recipelCal }}kcal</p>
    </div>
    <div class="nutrition__detail">
      <h3 class="nutrition__name">タンパク質</h3>
      <p>{{ recipe.recipeProtein }}g</p>
    </div>
    <div class="nutrition__detail">
      <h3 class="nutrition__name">
        脂質
      </h3>
      <p>{{ recipe.recipeFat }}g</p>
    </div>
    <div class="nutrition__detail">
      <h3 class="nutrition__name">
        糖質
      </h3>
      <p>{{ recipe.recipeSugar }}g</p>
    </div>
    <div class="nutrition__detail">
      <h3 class="nutrition__name">
        食物繊維
      </h3>
      <p>{{ recipe.recipeDietaryFiber }}g</p>
    </div>
    <div class="nutrition__detail">
      <h3 class="nutrition__name">
        炭水化物
      </h3>
      <p>{{ recipe.recipeTotalCarbohydrate }}g</p>
    </div>
  </div>
</div>
