@import '~@angular/material/theming';
.nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 5px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  @include mat-elevation(1);
}
.update-to-page {
  margin-right: 16px;
}
.thumbnail {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  background: center/cover;
  margin-bottom: 32px;
}
.no-thumbnail {
  height: 150px;
  max-width: 300px;
  background: #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}
h2 {
  padding-left: 8px;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
.recipe-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 8px 8px 32px 8px;
  background: #fff;
  @include mat-elevation(1);
}
.content-head {
  display: flex;
  justify-content: space-between;
  h2 {
    align-self: flex-end;
  }
  h4 {
    padding: 4px;
    font-size: 15px;
    font-weight: normal;
    margin: 0 8px 8px 0;
    text-align: center;
    color: #009688;
    background: #ffff;
    border: 1px solid #009688;
  }
}
.content {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 24px;
  padding: 8px;
  background: #ffff;
  display: flex;
  justify-content: space-between;

  &__point {
    height: 120px;
  }
}
.ingredients {
  margin-bottom: 32px;
}
.ingredient {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-top: 1px solid #dbdbdb;
}
.processes {
  margin-bottom: 32px;
}
.process {
  display: flex;

  background: #ffff;
  border-top: 1px solid #dbdbdb;
  padding: 8px;
  &__index {
    margin: 0 8px;
    min-height: 30px;
  }
  &__wrapper {
    display: flex;
    margin-right: 16px;
  }
  &__image {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    align-self: center;
  }
  &__description {
    overflow-wrap: anywhere;
  }
}

.nutrition {
  border-top: 1px solid #dbdbdb;
  background: #fff;
  margin-bottom: 32px;
}
.nutrition__detail {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #dbdbdb;
}
