@use '@angular/material' as mat;

* {
  box-sizing: border-box;
}

.nav {
  width: 100%;
  margin: 0 auto;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-anchor {
  max-width: 100px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 0 0 8px auto;
}

.today {
  width: 100%;
  margin: 0 auto;

  &__wrap {
    padding: 32px 0;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 8px;

    &--total-cal {
      margin-bottom: 24px;
    }

    &--meal {
      align-items: flex-start;
      justify-content: space-around;
      gap: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;

    &--body {
      width: 30%;
      min-width: 65px;
    }
  }

  &__title {
    opacity: 0.87;
    font-size: 15px;
  }

  &__amount {
    opacity: 0.87;
    font-size: 21px;
  }

  &__text {
    text-align: center;
    opacity: 0.87;
    font-size: 15px;
    letter-spacing: 1px;
  }
}

.form-body {
  display: flex;
  justify-content: center;
  gap: 16px;

  &__weight {
    width: 45%;
  }

  &__fat {
    width: 45%;
  }

  &__suffix {
    margin-left: 8px;
  }

  &__button {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.meal {
  &__box {
    cursor: pointer;
    height: 70px;
    width: 70px;
    padding: 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background: #ffffff;
    z-index: 10;
    position: relative;

    &:hover {
      @include mat.elevation(4);
    }
  }

  &__title {
    font-size: 12px;
    position: absolute;
    line-height: 1;
    top: 4px;
    right: 4px;
  }

  &__text {
    font-size: 13px;
    line-height: 2;
    max-width: 70px;
    overflow-wrap: anywhere;
  }
}

:host ::ng-deep.mat-button-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.meal-icon {
  width: 22px;

  &--breakfast {
    width: 40px;
  }
}
