<div class="nav">
  <button
    class="nav-icon"
    [disabled]="minDate === date"
    mat-icon-button
    (click)="backDate()"
  >
    <mat-icon>navigate_before</mat-icon>
  </button>
  <div class="nav__date">{{ date }}</div>
  <button
    class="nav-icon"
    [disabled]="today === date"
    mat-icon-button
    (click)="nextDate()"
  >
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<a
  class="detail-anchor"
  routerLink="/daily-detail"
  [queryParams]="{
    date: date
  }"
  >詳細へ</a
>
<mat-card
  class="today"
  [routerLink]="!editingMemo && !editingWeight ? '/daily-detail' : null"
  [queryParams]="{
    date: date
  }"
>
  <div class="today__wrap" *ngIf="!editingWeight">
    <div class="today__row">
      <div class="spacer"></div>
      <dl class="today__content today__content--body">
        <dt class="today__title">体重</dt>
        <dt *ngIf="dailyInfos[listIndex - 1]?.currentWeight">
          <span class="today__amount">
            {{
              dailyInfos[listIndex - 1]?.currentWeight | number: '1.1-1'
            }}</span
          >
          kg
        </dt>
        <dt
          class="today__amount"
          *ngIf="!dailyInfos[listIndex - 1]?.currentWeight"
        >
          未入力
        </dt>
      </dl>
      <dl class="today__content today__content--body">
        <dt class="today__title">体脂肪</dt>
        <dt *ngIf="dailyInfos[listIndex - 1]?.currentFat">
          <span class="today__amount">{{
            dailyInfos[listIndex - 1]?.currentFat | number: '1.1-1'
          }}</span>
          %
        </dt>
        <dt
          class="today__amount"
          *ngIf="!dailyInfos[listIndex - 1]?.currentFat"
        >
          未入力
        </dt>
      </dl>
      <button
        (click)="updateWeight()"
        (click)="$event.stopPropagation()"
        class="nav-icon"
        mat-icon-button
        color="primary"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <p class="today__text" *ngIf="prevWeight && prevFat && date === today">
      前回の記録は{{ prevWeight | number: '1.1-1' }}kg、{{
        prevFat | number: '1.1-1'
      }}%です。
    </p>
  </div>
  <div class="today__wrap" *ngIf="editingWeight">
    <form [formGroup]="form">
      <div class="form-body">
        <mat-form-field appearance="outline" class="form-body__weight">
          <mat-label>体重</mat-label>
          <input
            formControlName="currentWeight"
            type="number"
            matInput
            autocomplete="off"
            [min]="minWeightAndFat"
            [max]="maxWeight"
            step=".1"
          />
          <span matSuffix class="form-body__suffix">kg</span>
          <mat-error *ngIf="currentWeightControl.hasError('required')"
            >必須入力です</mat-error
          >
          <mat-error
            *ngIf="
              currentWeightControl.hasError('min') ||
              currentWeightControl.hasError('max')
            "
            >不正な値です</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-body__fat">
          <mat-label>体脂肪</mat-label>
          <input
            formControlName="currentFat"
            type="number"
            matInput
            autocomplete="off"
            [min]="minWeightAndFat"
            [max]="maxFat"
            step=".1"
          /><span matSuffix class="form-body__suffix">%</span>
          <mat-error *ngIf="currentFatControl.hasError('required')"
            >必須入力です</mat-error
          >
          <mat-error
            *ngIf="
              currentFatControl.hasError('min') ||
              currentFatControl.hasError('max')
            "
            >不正な値です</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-body__button">
        <button
          (click)="updateWeight()"
          (click)="$event.stopPropagation()"
          mat-stroked-button
          color="primary"
          [disabled]="
            currentWeightControl.hasError('required') ||
            currentWeightControl.hasError('max') ||
            currentWeightControl.hasError('mmin') ||
            currentFatControl.hasError('required') ||
            currentFatControl.hasError('max') ||
            currentFatControl.hasError('mmin')
          "
        >
          更新
        </button>
      </div>
    </form>
  </div>
  <div class="border"></div>
  <div class="today__wrap">
    <div class="today__row">
      <dl class="today__content">
        <dt class="today__title">摂取カロリー</dt>
        <dt>
          <span class="today__amount">{{
            (dailyInfos[listIndex - 1]?.totalCal | number: '1.1-1') || 0
          }}</span>
          kcal
        </dt>
      </dl>
    </div>
    <div class="today__row">
      <a
        color="primar"
        mat-button
        aria-label="Button that displays a tooltip when focused or hovered over"
        class="box"
        (click)="$event.stopPropagation()"
        routerLink="/editor-meal/search"
        [queryParams]="{
          date: date,
          meal: 'breakfast'
        }"
      >
        <img
          class="meal-icon meal-icon--breakfast"
          [src]="
            dailyInfos[listIndex - 1]?.breakfastCal
              ? '/assets/images/breakfast.svg'
              : '/assets/images/breakfast_outline.svg'
          "
          alt=""
        />
        <span class="box__title">朝食</span>
      </a>
      <a
        mat-button
        color="primar"
        aria-label="Button that displays a tooltip when focused or hovered over"
        class="box"
        (click)="$event.stopPropagation()"
        routerLink="/editor-meal/search"
        [queryParams]="{
          date: date,
          meal: 'lunch'
        }"
      >
        <img
          class="meal-icon"
          [src]="
            dailyInfos[listIndex - 1]?.lunchCal
              ? '/assets/images/lunch.svg'
              : '/assets/images/lunch_outline.svg'
          "
          alt=""
        />
        <span class="box__title">昼食</span>
      </a>
      <a
        mat-button
        color="primar"
        aria-label="Button that displays a tooltip when focused or hovered over"
        class="box"
        (click)="$event.stopPropagation()"
        routerLink="/editor-meal/search"
        [queryParams]="{
          date: date,
          meal: 'dinner'
        }"
      >
        <img
          class="meal-icon"
          [src]="
            dailyInfos[listIndex - 1]?.dinnerCal
              ? '/assets/images/dinner.svg'
              : '/assets/images/dinner_outline.svg'
          "
          alt=""
        />
        <span class="box__title">夕食</span>
      </a>
    </div>
  </div>
  <div class="border"></div>

  <div class="today__wrap">
    <div class="card__memo">
      <div class="today__row today__row--memo">
        <p class="card__memo-title">
          1日のメモ
        </p>
        <div class="spacer"></div>
        <button
          *ngIf="!editingMemo"
          mat-icon-button
          class="nav-icon"
          color="primary"
          (click)="$event.stopPropagation()"
          (click)="editMemo()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="editingMemo"
          mat-flat-button
          color="primary"
          (click)="$event.stopPropagation()"
          (click)="updateMemo()"
          [disabled]="memoControl.hasError('maxlength')"
        >
          保存
        </button>
      </div>
    </div>
    <p
      class="today__memo-textarea"
      *ngIf="dailyInfos[listIndex - 1]?.dailyMemo && !editingMemo"
    >
      {{ dailyInfos[listIndex - 1]?.dailyMemo }}
    </p>
    <form
      [formGroup]="form"
      *ngIf="editingMemo"
      class="today__memo-textarea-editor"
    >
      <mat-form-field class="today__memo-textarea-field" appearance="outline">
        <mat-label>体調など記入しましょう</mat-label>
        <textarea
          class="today__memo-textarea-editor"
          matInput
          rows="16"
          formControlName="dailyMemo"
        ></textarea>
        <mat-error *ngIf="memoControl.hasError('maxlength')"
          >{{ maxMemoLength }}文字以内で入力してください</mat-error
        >
      </mat-form-field>
    </form>

    <p
      class="today__text"
      *ngIf="!dailyInfos[listIndex - 1]?.dailyMemo && !editingMemo"
    >
      まだメモはありません
    </p>
  </div></mat-card
>
