<div class="container">
  <div class="wrap wrap--head">
    <h2 class="wrap__title">はじめに</h2>
    <p class="wrap__text">
      この利用規約（以下、「本規約」といいます。）は、kaki（以下、「サービス提供者」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。
    </p>
  </div>

  <div class="wrap">
    <h2 class="wrap__title">第1条（適用）</h2>
    <ol class="list">
      <li class="list__text">
        本規約は、ユーザーとサービス提供者との間の本サービスの利用に関わる一切の関係に適用されるものとします。
      </li>
      <li class="list__text">
        サービス提供者は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。
      </li>
      <li class="list__text">
        本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。
      </li>
    </ol>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第2条（情報の取り扱い）</h2>
    <ol class="list">
      <li class="list__text">
        利用者は登録に利用したGoogleアカウントを適切に管理及び保管するものとし、これを第三者に利用させ、又は貸与、譲渡、名義変更、売買等をしてはならないものとします。
      </li>
      <li class="list__text">
        利用したGoogleアカウントの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は利用者が追うものとし、サービス提供者はサービス提供者に故意・重過失なき限り一切の責任を負わず、利用者は、異議、クレーム、その他一切の請求をしないものとします。
      </li>
    </ol>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第3条（禁止事項）</h2>
    <div class="wrap__text">
      利用者は本サービスの利用にあたり、以下の各号のいずれかに該当する行為又は該当するとサービス提供者が判断する行為をしてはなりません。
    </div>
    <ol class="list">
      <li class="list__text">
        法令違反行為、犯罪行為又はこれらの行為に関連する行為
      </li>
      <li class="list__text">
        サービス提供者、本サービスの他の利用者又はその他の第三者に対する詐欺又は脅迫行為
      </li>
      <li class="list__text">公序良俗に反する行為</li>
      <li class="list__text">
        サービス提供者、本サービスの他の利用者又はその他の第三者の知的財産権、肖像権、プライバイシーの権利、名誉、信用その他の権利又は利益を侵害する行為
      </li>
      <li class="list__text">
        本サービスのネットワーク又はシステム等に過度な負荷をかける行為
      </li>
      <li class="list__text">反社会的勢力等への利益供与</li>
      <li class="list__text">情報を改ざん・消去する行為</li>
      <li class="list__text">
        本サービスの他の利用者のGoogleアカウントを利用する行為
      </li>
      <li class="list__text">本サービスの他の利用者情報の収集</li>
      <li class="list__text">その他、サービス提供者が不適切と判断する行為</li>
    </ol>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第4条（本サービスの停止等）</h2>
    <div class="wrap__text">
      利用者は本サービスの利用にあたり、以下の各号のいずれかに該当する行為又は該当するとサービス提供者が判断する行為をしてはなりません。
    </div>
    <ol class="list">
      <li class="list__text">
        サービス提供者は以下のいずれかに該当する場合は、利用者に事前に通知することなく、本サービスの全部又は一部の提供を停止又は中断することができるものとします。
      </li>
      <p class="list__text">
        (1)本サービスに係るコンピューター・システムその他システム等の点検又は保守作業を行う場合
      </p>
      <p class="list__text">
        (2)コンピューター、通信回線、サーバーその他設備等が事故により停止した場合
      </p>
      <p class="list__text">
        (3)天災地変、暴動、内乱、争議行為、公権力による命令・処分、取引先の債務不履行、法令の制定・改廃、地震、落雷、火災、風水害、停電、等の不可抗力により本サービスの運営ができなくなった場合
      </p>
      <li class="list__text">
        サービス提供者は本条に基づきサービス提供者が行った処置に基づき利用者に生じた損害についてはサービス提供者に故意・重過失なき限り一切の責任を負わず、利用者は、異議、クレーム、その他一切の請求をしないものとします。
      </li>
    </ol>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第5条（サービス提供者に対する補償）</h2>
    <p class="wrap__text">
      利用者の行為が原因で生じたクレームなどにより、サービス提供者に損害（弁護士費用その他の費用負担や賠償金の支払いを含みます）が発生した場合、利用者はサービス提供者の損害を補償するものとします。
    </p>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第6条（退会）</h2>
    <p class="wrap__text">
      利用者はいつでも<a class="link" routerLink="/more/account"
        >アカウント削除ページ</a
      >よりアカウントの削除を行うことで本サービスから退会され、利用者としての登録を抹消することができます。
    </p>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第7条（本サービスの内容の変更、終了）</h2>
    <ol class="list">
      <li class="list__text">
        サービス提供者は、サービス提供者の都合により、本サービス内容を変更、又は提供を終了することができます。
      </li>
      <li class="list__text">
        サービス提供者は、本条に基づきサービス提供者が行った処置に基づき利用者に生じた損害についてサービス提供者に故意・重過失なき限り一切の責任を負わず、利用者は、異議、クレーム、その他一切の請求をしないものとします。
      </li>
      <li class="list__text">
        サービス提供者は、本サービスにサービス提供者または第三者の広告を掲載することができるものとします。
      </li>
    </ol>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第8条（本規約の変更）</h2>
    <p class="wrap__text">
      サービス提供者は、事前の通告および利用者の承諾を得ることなく、本規約を変更することができるものとし、本規約が変更された場合は、本サービスの利用条件は、変更後の最新の本規約によるものとします。利用者は、本サービスを利用する際には、常に本サイト上に掲載されている最新の本規約を確認するものとします。
    </p>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第9条（免責事項）</h2>
    <ol class="list">
      <li class="list__text">
        サービス提供者は本サービスが利用者の意図する目的に適合すること、期待する成果・機能・商品価値・正確性・有用性を有すること、利用者による本サービスの利用が利用者に適用のある法令又は規則等に適合すること、及びバグ・不具合・故障・事故等が生じないことについて、何ら保証するものではありません。また、美容・ダイエット・健康・生活習慣の改善等について、何らかの成果を保証するものではありません。
      </li>
      <li class="list__text">
        サービス提供者は、投稿データその他利用者が送信した情報等が保存されることを保証するものではく、これらの情報の消失、削除等に基づき利用者に生じた損害についてサービス提供者はサービス提供者に故意・重過失なき限り一切の責任を負わず、利用者は、異議、クレーム、その他一切の請求をしないものとします。
      </li>
      <li class="list__text">
        サービス提供者は、サービス提供者による本サービスの提供の中断、停止、終了、利用不能又は変更、利用者が本サービスに送信したメッセージ又は情報の削除又は消失、利用者の登録抹消、本サービスの利用による登録データの消失又は機器の故障若しくは損傷、その他本サービスに関して登録データが被った損害（以下「ユーザー損害」といいます。）につき、サービス提供者に故意・重過失なき限り賠償する責任を負わず、利用者は、異議、クレーム、その他一切の請求をしないものとします。
      </li>
      <li class="list__text">
        サービス提供者は、本サービスに関して、利用者と他の利用者または第三者との間において生じた紛争等について一切責任を負いません。
      </li>
      <li class="list__text">
        利用者による本サービスの利用に関連して、利用者に対する責任を負う場合には、サービス提供者の故意または重大な過失による場合を除き、利用者に現実に生じた通常かつ直接の範囲の損害に限り、これを賠償するものとし、特別な事情から生じた損害（損害の発生を予見し、または、予見し得た場合を含みます。）については、責任を負わないものとします。
      </li>
      <li class="list__text">
        サービス提供者は、本サービスにより利用者の希望に沿ったサービスの提供を実現することを保証するものではありません。
      </li>
    </ol>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第10条（管轄裁判所）</h2>
    <p class="wrap__text">
      本サービスおよび本規約に関する一切の紛争、請求等は、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    </p>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">第11条（準拠法）</h2>
    <p class="wrap__text">
      本規約の効力、適用、解釈にあたっては、日本国法が適用されるものとします。
    </p>
  </div>
  <div class="wrap wrap--end">
    <p class="wrap__establishment">制定日　2020年8月20日</p>
  </div>
</div>
