<div class="meal-container">
  <div class="wrap">
    <h3 class="wrap__title">食事登録の流れ</h3>
    <img
      src="/assets/images/usage/meal.png
  "
      alt=""
      class="wrap__image"
    />
    <div class="wrap-row">
      <dl class="wrap-row__title wrap-row__title--number">①</dl>
      <dt class="wrap-row__discription">
        単位当たりのカロリー
      </dt>
    </div>
    <div class="wrap-row">
      <dl class="wrap-row__title wrap-row__title--number">②</dl>
      <dt class="wrap-row__discription">
        ①でカロリーを確認し数量を入力
      </dt>
    </div>
    <div class="wrap-row">
      <dl class="wrap-row__title wrap-row__title--number">③</dl>
      <dt class="wrap-row__discription">
        ①と②の計算値が表示される
      </dt>
    </div>
    <div class="wrap-row">
      <dl class="wrap-row__title wrap-row__title--number">④</dl>
      <dt class="wrap-row__discription">
        間違いなければボタンをクリック
      </dt>
    </div>
  </div>
  <div class="border"></div>

  <div class="wrap">
    <h3 class="wrap__title">各タブについて</h3>
    <div class="wrap-row">
      <dl class="wrap-row__title">
        <img
          class="wrap-row__title-image"
          src="/assets/images/usage/search.png"
          alt=""
        />
      </dl>
      <dt class="wrap-row__discription">食べ物を検索できます。</dt>
    </div>
    <div class="wrap-row">
      <dl class="wrap-row__title">
        <img
          class="wrap-row__title-image"
          src="/assets/images/usage/fav.png"
          alt=""
        />
      </dl>
      <dt class="wrap-row__discription">
        検索タブに表示されている食べ物を お気に入り登録できます。
      </dt>
    </div>
    <div class="wrap-row">
      <dl class="wrap-row__title">
        <img
          class="wrap-row__title-image"
          src="/assets/images/usage/my-set.png"
          alt=""
        />
      </dl>
      <dt class="wrap-row__discription">
        <a routerLink="/menu/set-list" class="link">マイメニューページ</a
        >で自分だけのマイセットを登録することができます。
      </dt>
    </div>
    <div class="wrap-row">
      <dl class="wrap-row__title">
        <img
          class="wrap-row__title-image"
          src="/assets/images/usage/select.png"
          alt=""
        />
      </dl>
      <dt class="wrap-row__discription">
        選択した項目と合計カロリーが確認できます。
      </dt>
    </div>
  </div>
</div>
