<div class="tabs">
  <div class="tab">
    <dl class="tab__title">検索</dl>
    <dt class="tab__discription">食べ物を検索できます。</dt>
  </div>
  <div class="tab">
    <dl class="tab__title">お気に入り</dl>
    <dt class="tab__discription">
      検索タブに表示されている食べ物を お気に入り登録できます。
    </dt>
  </div>
  <div class="tab">
    <dl class="tab__title">マイセット</dl>
    <dt class="tab__discription">
      <a routerLink="/menu/set-list" target="_blank" class="link"
        >マイメニューページ</a
      >で自分だけのマイセットを登録することができます。
    </dt>
  </div>
  <div class="tab">
    <dl class="tab__title">選択項目</dl>
    <dt class="tab__discription">選択した項目と合計カロリーが確認できます。</dt>
  </div>
</div>
