@import '~@angular/material/theming';

.meal-container {
  padding: 32px 0;
}

.wrap {
  &__title {
    margin: 0 auto;
    font-family: 'Yuanti SC';
    font-weight: lighter;
    text-align: center;
    color: #009688;
    margin-bottom: 16px;
  }
  &__image {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }
}

.wrap-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  &__title {
    border-bottom: 1px solid #009688;
    font-family: 'Yuanti SC';
    font-weight: lighter;
    text-align: center;
    margin: 0;
    width: 40%;
    max-width: 150px;

    &--number {
      border-bottom: none;
      color: #e25241;
    }
  }

  &__discription {
    font-family: 'Yuanti SC';
    font-weight: lighter;
    text-align: center;
    width: 50%;
  }
}

.link {
  color: #337ab7;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.border {
  margin: 40px 0;
}
