@import '~@angular/material/theming';

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0.87;
  margin-bottom: 24px;

  &__cal {
    margin: 0;
    overflow-wrap: anywhere;
    width: 50%;
    text-align: right;
  }
}

.card {
  cursor: pointer;
  width: 250px;
  height: 250px;
  padding: 0;
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  @include mat-elevation(2);
  outline: none;

  &:hover {
    @include mat-elevation(4);
  }

  &__anchor-tag {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-decoration: none;
  }

  &__title {
    color: #000;
    margin: 0;
  }

  &__food-image {
    max-width: 80px;
  }

  &__set-image {
    max-width: 120px;
  }
}

.food {
  display: flex;
  align-items: center;
  padding: 8px 0;

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  &__name {
    overflow-wrap: anywhere;
    width: 100%;
    font-size: 14px;
    margin: 0;
    opacity: 0.87;
  }

  &__selected-amount {
    margin: 0;
    font-size: 12px;
    opacity: 0.87;
  }

  &__cal {
    margin: 0;
    text-align: right;
    font-size: 14px;
    opacity: 0.87;
    overflow-wrap: anywhere;
  }
}

.no-select {
  &__title {
    font-weight: bold;
    margin-bottom: 32px;
  }

  &__figure {
    margin: 0;
    margin-bottom: 32px;
  }

  &__text {
    margin-bottom: 32px;
  }
}
