<div class="loading" *ngIf="loading">
  <mat-spinner class="loading__spinner" diameter="30"></mat-spinner>
</div>
<div *ngIf="!loading">
  <ng-template #noSelected>
    <div class="tab">
      <div class="no-select">
        <h3 class="no-select__title">
          <mat-icon color="primary">info</mat-icon
          >食べ物はまだ選択されていません。
        </h3>
        <mat-card
          class="card"
          routerLink="/editor-meal/search"
          [queryParams]="{ date: date, meal: meal }"
        >
          <p class="card__title card__title--food">食材リストから探す</p>
          <img
            class="card__food"
            mat-card-image
            src="/assets/images/no-food.png"
            alt=""
          />
        </mat-card>
        <mat-card
          class="card"
          routerLink="/editor-meal/my-set"
          [queryParams]="{ date: date, meal: meal }"
        >
          <p class="card__title">マイセットから探す</p>
          <img
            class="card__set"
            mat-card-image
            src="/assets/images/no-set.png"
            alt=""
          />
        </mat-card>
      </div>
    </div>
  </ng-template>

  <div
    class="tab tab--content"
    *ngIf="selectedFoodsOrSets?.length > 0; else noSelected"
  >
    <div class="total">
      <dt class="total__title">
        合計摂取カロリー
      </dt>
      <dd class="total__cal">{{ totalCal | number: '1.1-1' }} kcal</dd>
    </div>

    <div *ngFor="let foodOrSet of selectedFoodsOrSets">
      <p class="border"></p>
      <div class="food">
        <div class="food__wrap">
          <p class="food__name">
            {{
              foodOrSet.food ? foodOrSet.food.foodName : foodOrSet.set.setTitle
            }}
          </p>
          <p class="food__selected-amount">
            {{ foodOrSet.amount | number: '1.1-1'
            }}{{ foodOrSet.food ? foodOrSet.food.unit : 'セット' }}
          </p>
        </div>
        <div class="spacer"></div>
        <div>
          <p class="food__cal">
            {{
              foodOrSet.amount *
                (foodOrSet.food
                  ? foodOrSet.food.foodCalPerAmount
                  : foodOrSet.set.setCal) | number: '1.1-1'
            }}
            kcal
          </p>
        </div>

        <button
          mat-icon-button
          color="warn"
          (click)="
            deleteMeal(
              foodOrSet.mealId,
              foodOrSet.amount,
              foodOrSet.food
                ? foodOrSet.food.foodCalPerAmount
                : foodOrSet.set.setCal
            )
          "
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
