.invoice-title {
  font-weight: normal;
  font-size: 18px;
  opacity: 0.87;
  margin-bottom: 16px;
}

.spinner {
  margin: 0 auto;
}
.mat-diver {
  margin-bottom: 16px;
}
.previous {
  margin-right: 8px;
}
