<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar__content">
    <ng-container *ngIf="(title$ | async) == 'その他'; else other">
      <div class="logo" routerLink="">
        <img class="logo__image" src="/assets/images/logo.svg" alt="" />
      </div>
    </ng-container>
    <ng-template #other>
      <button mat-button routerLink="/more" class="toolbar__back">
        <mat-icon>keyboard_arrow_left</mat-icon><span>戻る</span>
      </button>
    </ng-template>
    <h1 class="toolbar__title">{{ title$ | async }}</h1>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<app-toolbar></app-toolbar>
