@import '~@angular/material/theming';

.toolbar {
  position: sticky;
  top: 0;
  @include mat-elevation(1);
  z-index: 20;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__back {
    position: fixed;
    left: 4px;
    padding: 0 4px;

    @media screen and(max-width:350px) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 18px;

    @media screen and(max-width:350px) {
      font-size: 0.72em;
    }
  }
}

.logo {
  position: fixed;
  left: 16px;
  outline: none;
  cursor: pointer;

  &__image {
    height: 48px;
    vertical-align: middle;
  }
}

.navs {
  position: fixed;
  right: 64px;

  @media screen and (max-width: 750px) {
    display: none;
  }
}

.mypage {
  grid-area: icon;
  justify-self: end;
  position: fixed;
  right: 16px;
}

.avatar-image {
  border-radius: 50%;
  width: 40px;
  background: center/cover;
}

button.mat-menu-item {
  width: 100%;
  margin: 0;
}
