<div>
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar__content">
      <ng-container
        *ngIf="
          othreShellService.title === othreShellService.PAGE_TITLES.more ||
            othreShellService.title === othreShellService.PAGE_TITLES.usage;
          else eachPage
        "
      >
        <a class="logo" routerLink="">
          <img class="logo__image" src="/assets/images/logo.svg" alt="" />
        </a>
      </ng-container>

      <ng-template #eachPage>
        <a mat-button routerLink="/more" class="toolbar__back">
          <mat-icon>keyboard_arrow_left</mat-icon><span>戻る</span>
        </a>
      </ng-template>
      <h1
        [ngClass]="
          othreShellService.title !== othreShellService.PAGE_TITLES.legal
            ? 'toolbar__title'
            : 'toolbar__title toolbar__title--legal'
        "
      >
        {{ othreShellService.title }}
      </h1>

      <div
        class="navs"
        *ngIf="
          othreShellService.title === othreShellService.PAGE_TITLES.more ||
          othreShellService.title === othreShellService.PAGE_TITLES.usage
        "
      >
        <a
          mat-icon-button
          color="primary"
          matTooltip="グラフ"
          aria-label="Button that displays a tooltip when focused or hovered over"
          class="navs__item"
          routerLink="/graph"
        >
          <mat-icon fontSet="material-icons-outlined">insert_chart</mat-icon>
        </a>
        <a
          mat-icon-button
          color="primary"
          matTooltip="マイメニュー"
          aria-label="Button that displays a tooltip when focused or hovered over"
          class="navs__item"
          routerLink="/menu/set-list"
        >
          <mat-icon fontSet="material-icons-outlined">library_books</mat-icon>
        </a>
      </div>
      <div
        class="mypage"
        *ngIf="
          othreShellService.title === othreShellService.PAGE_TITLES.more ||
          othreShellService.title === othreShellService.PAGE_TITLES.usage
        "
      >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img
            *ngIf="basicInfo$ | async as basicInfo"
            [src]="basicInfo.avatarURL"
            alt="avatar"
            class="avatar-image"
          />
          <img
            *ngIf="!(basicInfo$ | async)"
            src="/assets/images/user-avatar.svg"
            alt="avatar"
            class="avatar-image"
          />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>login</mat-icon>
            <span>ログアウト</span>
          </button>
          <a mat-menu-item routerLink="/more">
            <mat-icon>more_horiz</mat-icon>
            <span>その他</span>
          </a>
          <a mat-menu-item routerLink="/more/usage/top">
            <mat-icon>help_outline</mat-icon>
            <span>使用方法</span>
          </a>
          <a mat-menu-item routerLink="/billing">
            <mat-icon>support</mat-icon>
            <span>開発者を応援する</span>
          </a>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
<app-toolbar></app-toolbar>
