.nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.thumbnail {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  background: center/cover;
  margin-bottom: 32px;
}
.no-thumbnail {
  height: 150px;
  width: 100%;
  background: #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
h2 {
  padding-left: 8px;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}
.content-head {
  display: flex;
  justify-content: space-between;
  h2 {
    align-self: flex-end;
  }
  h4 {
    padding: 4px;
    font-size: 15px;
    font-weight: normal;
    margin: 0 8px 8px 0;
    text-align: center;
    color: #009688;
    background: #ffff;
    border: 1px solid #009688;
  }
}
.content {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 24px;
  padding: 8px;
  overflow-wrap: anywhere;
  background: #ffff;
  display: flex;
  justify-content: space-between;

  &__point {
    height: 120px;
  }
}
.ingredients {
  margin-bottom: 32px;
}
.ingredient {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  overflow-wrap: anywhere;
  &__name {
    width: 48%;
  }
  &__amount {
    width: 48%;
    text-align: right;
  }
}
.processes {
  margin-bottom: 32px;
}
.process {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding: 8px;
  &__wrapper {
    display: flex;
    margin-right: 16px;
    p {
      margin: 0 8px;
      min-height: 30px;
    }
    img {
      width: 65px;
      height: 65px;
      border-radius: 5px;
    }
  }
  &__description {
    margin: 0;
    overflow-wrap: anywhere;
  }
}

.nutrition {
  border-top: 1px solid #dbdbdb;
  background: #fff;
  margin-bottom: 32px;
  &__detail {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #dbdbdb;
  }
}
