<div class="container">
  <a class="list" mat-stroked-button routerLink="/more/profile">
    <div class="wrapper">
      <p class="wrapper__text">ユーザー情報</p>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </a>
  <a class="list" mat-stroked-button routerLink="/more/terms">
    <div class="wrapper">
      <p class="wrapper__text">利用規約</p>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </a>
  <a class="list" mat-stroked-button routerLink="/more/legal">
    <div class="wrapper">
      <p class="wrapper__text">特定商取引法に基づく表示</p>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </a>
  <a class="list" mat-stroked-button routerLink="/more/account">
    <div class="wrapper">
      <p class="wrapper__text">アカウント削除</p>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </a>
</div>
