<mat-card class="more-card">
  <div class="wrapper">
    <p>プロフィール</p>
    <button mat-icon-button>
      <mat-icon routerLink="/more/profile">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>
<mat-card class="more-card">
  <div class="wrapper">
    <p>アカウント</p>
    <button mat-icon-button>
      <mat-icon routerLink="/more/account">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>
<mat-card class="more-card">
  <div class="wrapper">
    <p>利用規約</p>
    <button mat-icon-button>
      <mat-icon routerLink="/more/terms">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>
<mat-card class="more-card">
  <div class="wrapper">
    <p>特定商取引法に基づく表示</p>
    <button mat-icon-button>
      <mat-icon routerLink="/more/legal">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>
<mat-card class="more-card">
  <div class="wrapper">
    <p>お問い合わせ</p>
    <button mat-icon-button>
      <mat-icon routerLink="/more/contact">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</mat-card>
