<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <button mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>show_chart</mat-icon>
    </button>
    <button mat-mini-fab color="primary" [routerLink]="['/edit']">
      ＋
    </button>
    <button mat-icon-button>
      <mat-icon>menu_book</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon routerLink="/more">person</mat-icon>
    </button>
  </mat-toolbar-row></mat-toolbar
>
