.toolbar {
  @media screen and (min-width: 750px) {
    display: none;
  }

  &__row {
    height: 56px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    padding: 0;
  }
}

.nav {
  height: 100%;
  padding: 0;

  &__text {
    font-size: 11px;
    line-height: 1;
    font-weight: lighter;
  }
}

:host ::ng-deep {
  .mat-button-wrapper {
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
