<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <button mat-icon-button routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/graph">
      <mat-icon>show_chart</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="createDailyInfo()">
      ＋
    </button>
    <button mat-icon-button routerLink="/menu" (click)="changeQuery()">
      <mat-icon>menu_book</mat-icon>
    </button>
    <button mat-icon-button routerLink="/more">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar-row></mat-toolbar
>
