<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="toolbar__row">
    <a mat-button class="nav" routerLink="">
      <mat-icon
        [fontSet]="
          mainShellService.title === mainShellService.PAGE_TITLES.top
            ? 'material-icons'
            : 'material-icons-outlined'
        "
        class="nav__icon"
        >home</mat-icon
      >
      <div class="nav__text">
        <span>{{ mainShellService.PAGE_TITLES.top }}</span>
      </div>
    </a>
    <a mat-button class="nav" routerLink="/graph">
      <mat-icon
        [fontSet]="
          mainShellService.title === mainShellService.PAGE_TITLES.graph
            ? 'material-icons'
            : 'material-icons-outlined'
        "
        class="nav__icon"
        >insert_chart</mat-icon
      >
      <div class="nav__text">
        <span>{{ mainShellService.PAGE_TITLES.graph }}</span>
      </div>
    </a>
    <a mat-button class="nav" routerLink="/menu/set-list">
      <mat-icon
        [fontSet]="
          mainShellService.title === mainShellService.PAGE_TITLES.menu
            ? 'material-icons'
            : 'material-icons-outlined'
        "
        class="nav__icon"
        >library_books</mat-icon
      >
      <div class="nav__text">
        <span>{{ mainShellService.PAGE_TITLES.menu }}</span>
      </div>
    </a>
  </mat-toolbar-row></mat-toolbar
>
