.toolbar {
  height: 56px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  padding: 0;
}

.nav {
  line-height: 28px;
  padding: 0;

  &__text {
    font-size: 11px;
    height: 24px;
    font-weight: lighter;
  }
}
