<div class="tab tab--content">
  <ais-instantsearch [config]="config">
    <div class="search-box">
      <ais-search-box
        class="ais-search-box-input"
        placeholder="食べ物を入力してください"
      >
      </ais-search-box>
    </div>
    <ais-configure [searchParameters]="{ hitsPerPage: 10 }"></ais-configure>
    <ais-hits>
      <ng-template let-hits="hits">
        <div *ngFor="let food of hits; index as i">
          <div class="food">
            <button
              class="food__icon"
              mat-icon-button
              color="warn"
              *ngIf="isLikedlist.includes(food.foodId)"
              (click)="unLikeFavFood(food.foodId)"
            >
              <mat-icon>favorite</mat-icon>
            </button>

            <button
              class="food__icon"
              mat-icon-button
              *ngIf="!isLikedlist.includes(food.foodId)"
              (click)="likeFavFood(food.foodId)"
            >
              <mat-icon>favorite_border</mat-icon>
            </button>
            <div class="food__name">
              <p class="food__name--with-amount">{{ food.foodName }}</p>
              <span class="food__amountper">
                {{ food.foodCalPerAmount }}kcal/{{ food.unit }}
              </span>
            </div>
            <div class="spacer"></div>

            <form class="food__choice" [formGroup]="amountForm">
              <mat-form-field
                class="food__choice-form-field"
                appearance="outline"
              >
                <input
                  matInput
                  class="food__choice-input"
                  autocomplete="off"
                  formControlName="amount"
                  [max]="maxAmount"
                  [min]="minAmount"
                  step="0.1"
                  [(ngModel)]="amount[i]"
                  type="number"
                />
                <span matSuffix>{{ food.unit }}</span>
                <mat-error
                  *ngIf="amount[i] > maxAmount || amount[i] < minAmount"
                  >入力範囲{{ minAmount }}-{{ maxAmount }}</mat-error
                >
              </mat-form-field>
              <p class="food__cal">
                {{ food.foodCalPerAmount * amount[i] | number: '1.1-1' }}
                kcal
              </p>
            </form>

            <button
              mat-icon-button
              color="primary"
              (click)="addFood(amount[i], food)"
              [disabled]="amount[i] > maxAmount || amount[i] < minAmount"
            >
              <mat-icon>add_box</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="hits.length === 0">該当する食べ物はありません</div>
      </ng-template>
    </ais-hits>
  </ais-instantsearch>
</div>
