.search-box {
  margin: 16px auto;
}

.food {
  display: flex;
  background: #fff;
  align-items: center;
  &__fav {
    margin: 0 8px 0 0px;
  }
  &__amountper {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
    color: #009688;
  }
  &__name {
    font-size: 14px;
    margin: 8px 8px 8px 0;
    width: 100px;
    &--with-amount {
      margin: 0;
    }
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__amount-form {
    display: block;
    border: 1px solid #707070;
    width: 10%;
    border-radius: 5px;
    height: 20px;
    margin-right: 8px;
  }
}
button {
  margin: 0 8px;
}
