* {
  box-sizing: border-box;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 750px) {
    margin: 0 auto;
    max-width: 850px;
    padding-top: 24px;
    justify-content: space-between;
    flex-direction: row;
  }

  &__wrap {
    padding: 8px 16px 80px 16px;
  }
}

.calendar-wrap {
  max-width: 500px;
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: 750px) {
    position: sticky;
    top: 128px;
    align-self: baseline;
    width: 45%;
    margin-top: 48px;
  }
}

.icon-text {
  padding: 0 8px;
  margin: 0;
  color: #000;
  font-size: 11px;
  opacity: 0.87;
}

.calendar {
  max-width: 500px;
  width: 100%;
  height: 400px;

  @media screen and(min-width:750px) {
    padding: 8px;
  }
}

:host ::ng-deep {
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 8px;
  }

  .fc .fc-toolbar-title {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
  }

  .fc .fc-daygrid-day-frame {
    position: relative;
    height: 45px;
    max-width: 500px;
  }

  .fc-direction-ltr .fc-daygrid-event.fc-event-end,
  .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    background: none;
  }

  .fc-col-header {
    width: 100%;
  }

  .fc-theme-standard td,
  .fc-theme-standard th {
    cursor: pointer;
  }

  .fc .fc-daygrid-day-number {
    padding: 4px;
    font-size: 14px;
  }

  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    position: relative;
    min-height: 0;
    height: 15px;
  }

  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    font-weight: normal;
  }

  .fc .fc-button:not(:disabled) {
    height: 25px;
    cursor: pointer;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: black;
    border: none;
  }

  .fc .fc-button .fc-icon {
    font-size: 18px;
    height: 16px;
  }

  .fc-daygrid-day-events {
    display: flex;
  }

  .fc-daygrid-event-harness {
    width: 50%;
  }

  .fc-meal,
  .fc-meal div,
  .fc-meal span a {
    border: none;
    background: url('/assets/images/meal.svg') no-repeat;
    background-size: 14px 14px;
  }

  .fc-weight,
  .fc-weight div,
  .fc-weight span a {
    border: none;
    background: url('/assets/images/scale.svg') no-repeat;
    background-size: 14px 14px;
  }
}

.spinner {
  margin: 0 auto;
  margin-top: 32px;
}

.loading-title {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}
