<div class="memo-head">
  <p class="memo-title">
    1日のメモ<span
      ><img
        class="memo-icon"
        [src]="
          dailyInfo?.dailyMemo
            ? '/assets/images/memo.svg'
            : '/assets/images/memo_outline.svg'
        "
        alt=""
      />
    </span>
  </p>
  <button
    *ngIf="!isEditing"
    mat-icon-button
    class="nav-icon-button"
    color="primary"
    (click)="isEditing = true; $event.stopPropagation()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    *ngIf="isEditing"
    mat-flat-button
    color="primary"
    (click)="submitMemo()"
    [disabled]="formMemo.invalid || formMemo.pristine"
  >
    保存
  </button>
</div>

<!-- メモ内容 -->
<p class="memo-textarea" *ngIf="!isEditing">
  {{ dailyInfo?.dailyMemo || 'まだメモはありません' }}
</p>

<!-- 入力フォーム -->
<form [formGroup]="formMemo" *ngIf="isEditing" class="memo-textarea-editor">
  <mat-form-field class="memo-textarea-field" appearance="outline">
    <mat-label>体調など記入しましょう</mat-label>
    <textarea matInput rows="16" formControlName="dailyMemo" #input></textarea>
    <mat-hint align="end"
      >{{ input.value.length }}/{{ maxMemoLength }}</mat-hint
    >
    <mat-error *ngIf="memoControl.hasError('maxlength')"
      >{{ maxMemoLength }}文字以内で入力してください</mat-error
    >
  </mat-form-field>
</form>
