<div class="menu">
  <p class="menu__discription">
    マイメニューページにはマイセットとレシピタブがあります。
  </p>

  <div class="menu__wrap">
    <h3 class="menu__title">マイセット</h3>
    <div class="menu__texts">
      <p class="menu__text">
        食べる頻度が多い食べ物をまとめて登録できる機能です。
      </p>
      <p class="menu__text">
        登録したマイセットは<span class="menu__emphasis"
          >食事ページにも反映</span
        >され、 登録の手間を省くことができます。
      </p>
    </div>
    <p class="menu__image-text">(例)カレーセット</p>
    <img src="/assets/images/ex-set.png" alt="" class="menu__image" />
  </div>
  <div class="border"></div>
  <div class="menu__wrap">
    <h3 class="menu__title">レシピ</h3>
    <div class="menu__texts">
      <p class="menu__text">
        オリジナルの１品を登録できる機能です。
      </p>
      <p class="menu__text">
        登録したレシピは<span class="menu__emphasis"
          >マイセットで選択できる</span
        >ようになります。
      </p>
    </div>
    <figure class="menu__image-wrap">
      <p class="menu__text">
        また作り方を登録できるため料理の途中でもレシピが確認できます。
      </p>
      <img
        src="/assets/images/usage/recipe.png"
        alt=""
        class="menu__image menu__image--photo"
      />
    </figure>
    <figure class="menu__image-wrap">
      <p class="menu__text">
        <span class="menu__emphasis">公開機能</span
        >をオンにすると他ユーザーでも閲覧できるようになります。
      </p>

      <img
        src="/assets/images/usage/recipe-public.png"
        alt=""
        class="menu__image menu__image--photo"
      />
    </figure>
  </div>
  <div class="border"></div>

  <div class="menu__wrap">
    <div class="menu__texts">
      <p class="menu__text">
        マイセット、レシピ共に作成ボタンから、専用のフォームに入力することで作成できます。
      </p>
    </div>
    <div class="menu__buttons">
      <button mat-fab color="primary"><mat-icon>add</mat-icon></button>
      <button mat-stroked-button color="primary">
        <mat-icon>add</mat-icon>作成する
      </button>
    </div>
  </div>
</div>
