<div class="container" *ngIf="dailyInfo$ | async as dailyInfo; else deafult">
  <div class="card">
    <mat-card
      class="card__content"
      routerLink="/editor-meal"
      [queryParams]="{ date: dailyInfo.date, meal: 'breakfast' }"
      >朝食
      <div class="spacer"></div>
      <mat-icon aria-hidden="false">arrow_forward_ios</mat-icon></mat-card
    >
  </div>
  <div class="card">
    <mat-card
      class="card__content"
      routerLink="/editor-meal"
      [queryParams]="{ date: dailyInfo.date, meal: 'lunch' }"
      >昼食
      <div class="spacer"></div>
      <mat-icon aria-hidden="false">arrow_forward_ios</mat-icon></mat-card
    >
  </div>
  <div class="card">
    <mat-card
      class="card__content"
      routerLink="/editor-meal"
      [queryParams]="{ date: dailyInfo.date, meal: 'dinner' }"
      >夕食
      <div class="spacer"></div>
      <mat-icon aria-hidden="false">arrow_forward_ios</mat-icon></mat-card
    >
  </div>
  <div class="card">
    <mat-card class="card__content" [routerLink]="['/update', dailyInfo.date]"
      >体重・体脂肪率
      <div class="spacer"></div>
      <mat-icon aria-hidden="false">arrow_forward_ios</mat-icon></mat-card
    >
  </div>
  <div class="card">
    <mat-card class="card__content" [routerLink]="['/update', dailyInfo.date]"
      >体型写真を撮る
      <div class="spacer"></div>
      <mat-icon aria-hidden="false">arrow_forward_ios</mat-icon></mat-card
    >
  </div>
  <div class="card">
    <mat-card class="card__content" [routerLink]="['/update', dailyInfo.date]"
      >メモ
      <div class="spacer"></div>
      <mat-icon aria-hidden="false">arrow_forward_ios</mat-icon></mat-card
    >
  </div>
</div>
<ng-template #deafult>ページは存在しません</ng-template>
