.no {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 18px;
    display: flex;
  }
  &__example {
    font-size: 15px;
    margin: 0;
    color: rgba(#000000, 0.6);
  }
  &__image {
    background: center/cover;
    max-width: 100%;
  }
  &__create {
    margin: 0 auto 16px auto;
    max-width: 200px;
  }
}
.food {
  display: flex;
  align-items: center;
  background: #fff;
  &__fav {
    margin: 0 8px 0 0px;
  }
  &__amountper {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
    color: #009688;
  }
  &__name {
    font-size: 14px;
    margin: 8px 8px 8px 0;
    width: 100px;
    &--with-amount {
      margin: 0;
    }
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__amount-form {
    display: block;
    border: 1px solid #707070;
    width: 10%;
    border-radius: 5px;
    height: 20px;
    margin-right: 8px;
    text-align: right;
  }
}
button {
  margin: 0 8px;
}
.mat-tab-labels {
  background: #fff;
}
.mat-tab-label {
  width: 25%;
  padding: 0 !important;
  margin: 0 4px;
}
.set-unit {
  font-size: 13px;
}
