.form {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.profile {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__field {
    width: 100%;
  }

  &__suffix {
    margin-left: 8px;
  }

  &__select {
    font-size: 16px;
  }
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 32px;
  width: 50%;

  &__image {
    border-radius: 50%;
    max-width: 80px;
  }

  &__image-form {
    display: none;
  }

  &__button {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.submit-button {
  display: block;
  margin: 0;
  max-width: 100px;
}
