<h3 mat-dialog-title>トリミング中</h3>
<div mat-dialog-content>
  <app-image-cropper
    [imageFile]="data.imageFile"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
  />
</div>
<div mat-dialog-actions class="actions">
  <button
    class="delete"
    *ngIf="data.processImageURL"
    mat-raised-button
    color="warn"
    (click)="deleteImage()"
  >
    写真は挿入しない
  </button>
  <button mat-button (click)="cancel()">キャンセル</button>
  <button mat-raised-button color="primary" (click)="uploadImage()">
    OK
  </button>
</div>
