<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="head">
      <button type="button" mat-icon-button (click)="backToMenu()">
        <mat-icon>clear</mat-icon>
      </button>
      <h1>マイセット{{ title || '作成' }}画面</h1>
      <button
        mat-raised-button
        color="primary"
        [disabled]="preFoods.length === 0 || titleControle.hasError('required')"
      >
        保存
      </button>
    </div>
    <div class="title">
      <h2>
        セットタイトル<span
          *ngIf="!(titleControle.dirty || titleControle.touched)"
          >*</span
        >
        <span
          class="validators"
          *ngIf="
            titleControle.hasError('required') &&
            (titleControle.dirty || titleControle.touched)
          "
        >
          *必須入力です
        </span>
        <span class="validators" *ngIf="titleControle.hasError('maxlength')">
          *50文字以内で入力してください
        </span>
      </h2>

      <input
        placeholder="セット名"
        formControlName="setTitle"
        class="title__name"
        type="text"
        required
      />
    </div>

    <div class="meal">
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="not-seletected"
        *ngIf="!breakfast"
        (click)="changeBreakfast()"
      >
        朝食
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        *ngIf="breakfast"
        (click)="changeBreakfast()"
      >
        朝食
      </button>
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="not-seletected"
        *ngIf="!lunch"
        (click)="changeLunch()"
      >
        昼食
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        *ngIf="lunch"
        (click)="changeLunch()"
      >
        昼食
      </button>
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="not-seletected"
        *ngIf="!dinner"
        (click)="changeDinner()"
      >
        夕食
      </button>
      <button
        type="button"
        mat-flat-button
        color="primary"
        *ngIf="dinner"
        (click)="changeDinner()"
      >
        夕食
      </button>
    </div>
    <div class="foods">
      <h2>食べ物登録</h2>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="食べ物リストから探す">
          <ais-instantsearch [config]="config">
            <div class="search-box">
              <ais-search-box placeholder="食べ物を入力してください">
              </ais-search-box>
            </div>
            <ais-configure
              [searchParameters]="{ hitsPerPage: 5 }"
            ></ais-configure>
            <ais-hits>
              <ng-template let-hits="hits">
                <div *ngFor="let food of hits">
                  <div class="food">
                    <div class="food__name">
                      <p class="food__name--with-amount">{{ food.foodName }}</p>
                      <span class="food__amountper">
                        {{ food.foodCalPerAmount }}kcal/{{ food.unit }}
                      </span>
                    </div>
                    <div class="food__row">
                      <input
                        class="food__amount-form"
                        max="100"
                        min="0"
                        step="0.1"
                        #amount
                        type="number"
                      />
                      <span>{{ food.unit }}</span>
                      <p class="spacer"></p>
                      <p class="food__cal"></p>

                      <button
                        mat-icon-button
                        type="button"
                        color="primary"
                        (click)="addFood(food, amount.value)"
                      >
                        <mat-icon>add_box</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ais-hits>
          </ais-instantsearch>
        </mat-tab>

        <mat-tab label="レシピ集から探す">
          <div class="grid">
            <div class="recipes" *ngFor="let recipe of myRecipes">
              <div
                class="recipe"
                (click)="openRecipe(recipe.recipeId); $event.stopPropagation()"
              >
                <img
                  class="recipe__thumbnail"
                  [src]="recipe.recipeThumbnailURL"
                  alt=""
                />

                <div class="recipe__row">
                  <img
                    class="recipe__icon"
                    [src]="recipe.author.avatarURL"
                    alt="プロフィールアイコン"
                  />
                  <p class="recipe__author">{{ recipe.author.name }}</p>
                </div>
                <h2 class="recipe__title">
                  {{ recipe.recipeTitle }}
                </h2>
                <p *ngIf="recipe.recipeCal" class="recipe__cal">
                  {{ recipe.recipeCal }}kcal
                </p>
                <p *ngIf="!recipe.recipeCal" class="recipe__cal">--</p>
                <button
                  class="recipe__add"
                  type="button"
                  mat-icon-button
                  color="primary"
                  (click)="addFood(recipe, 1); $event.stopPropagation()"
                >
                  <mat-icon>add_box</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <h2 *ngIf="preFoods.length > 0; else noFood">選択中</h2>
    <ng-template #noFood><h2>*食べ物を選択してください</h2></ng-template>
    <div class="foods foods--choice">
      <div class="food" *ngFor="let food of preFoods; let i = index">
        <div class="food__name">
          <p class="food__name--with-amount">
            {{ food.foodName || food.recipeTitle }}
          </p>
          <span class="food__amountper">
            {{ food.foodCalPerAmount || food.recipeCal }}kcal/{{
              food.unit || 'セット'
            }}
          </span>
        </div>
        <div class="food__row">
          <p>{{ food.amount }}</p>
          <span>{{ food.unit || 'セット' }}</span>
          <p class="spacer"></p>
          <p class="food__cal"></p>

          <button
            mat-icon-button
            color="warn"
            type="button"
            (click)="removeFood(i, food)"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="nutrition">
      <h2>栄養素</h2>
      <div class="nutrition__detail">
        <p class="nutrition__name">総カロリー</p>
        <div class="nutrition__amount-unit">
          <input
            formControlName="setCal"
            class="nutrition__amount"
            type="number"
            [(ngModel)]="currentCal"
            step="0.1"
          />
          <span>kcal</span>
        </div>
      </div>
      <div class="nutrition__detail">
        <p class="nutrition__name">タンパク質</p>
        <div class="nutrition__amount-unit">
          <input
            formControlName="setProtein"
            class="nutrition__amount"
            type="number"
            [(ngModel)]="currentProtein"
            step="0.1"
          />
          <span class="nutrition__unit">g</span>
        </div>
      </div>
      <div class="nutrition__detail">
        <p class="nutrition__name">脂質</p>
        <div class="nutrition__amount-unit">
          <input
            formControlName="setFat"
            class="nutrition__amount"
            type="number"
            [(ngModel)]="currentFat"
            step="0.1"
          />
          <span class="nutrition__unit">g</span>
        </div>
      </div>
      <div class="nutrition__detail">
        <p class="nutrition__name">糖質</p>
        <div class="nutrition__amount-unit">
          <input
            formControlName="setTotalCarbohydrate"
            class="nutrition__amount"
            type="number"
            [(ngModel)]="currentSugar"
            step="0.1"
          />
          <span class="nutrition__unit">g</span>
        </div>
      </div>
      <div class="nutrition__detail">
        <p class="nutrition__name">食物繊維</p>
        <div class="nutrition__amount-unit">
          <input
            formControlName="setDietaryFiber"
            class="nutrition__amount"
            type="number"
            [(ngModel)]="currentDietaryFiber"
            step="0.1"
          />
          <span class="nutrition__unit">g</span>
        </div>
      </div>
      <div class="nutrition__detail">
        <p class="nutrition__name">炭水化物</p>
        <div class="nutrition__amount-unit">
          <input
            formControlName="setSugar"
            class="nutrition__amount"
            type="number"
            [(ngModel)]="currentTotalCarbohydrate"
            step="0.1"
          />
          <span class="nutrition__unit">g</span>
        </div>
      </div>
    </div>
  </form>
</div>
