@import '~@angular/material/theming';
.editor-wrap {
  max-width: 700px;
  margin: 0 auto;
  background: #ffff;
  padding: 32px 8px 8px 8px;
  @include mat-elevation(1);
}
h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
input {
  display: block;
  margin: 0;
  justify-self: center;
  border: none;
}
p {
  margin: 0;
}
.validators {
  font-size: 14px;
  color: red;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 56px;
  @include mat-elevation(1);
  z-index: 5;
  position: sticky;
  top: 0;
  background: #fff;
}
.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &__form-field {
    font-size: 15px;
  }
  &__input {
    height: 22px;
    font-size: 17px;
    background: #ffff;
  }
}
.meal {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.foods {
  margin-bottom: 32px;
  border-radius: 4px;

  mat-tab-group {
    background: #fff;
    max-height: 432px;
  }
  &--choice {
    max-height: 432px;
    overflow: auto;
  }
}
.not-seletected {
  background: #fff;
}
.food {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  &__name {
    font-size: 14px;
    margin: 8px 8px 8px 0;
    width: 200px;
    color: rgba(#000000, 0.87);
    &--with-amount {
      margin: 0;
    }
  }
  &__amountper {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
    color: #009688;
  }
  &__row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &--form {
      max-width: 300px;
      width: 60%;
    }
  }

  &__form-field {
    font-size: 5px;
    color: rgba(#000000, 0.87);
    margin-right: 8px;
    width: 50%;
  }
  &__amount-form {
    font-size: 15px;
  }
  &__prefix {
    font-size: 15px;
    margin: 0 4px;
  }
  &__button {
    margin-bottom: 8px;
  }
}
.search-box {
  margin: 16px auto;
  padding: 0 8px;
}
.grid {
  height: 340px;
  overflow: auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  margin: 16px 0;
}
.recipes {
  display: flex;
  justify-content: center;
}
.recipe {
  width: 140px;
  max-height: 170px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.2s;
  outline: none;
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;
  @include mat-elevation(2);
  &:hover {
    @include mat-elevation(4);
  }
  &__thumbnail {
    width: 140px;
    height: 94px;
    border-radius: 10px 10px 0px 0px;
    background: #c6c6c6 center/cover;
    margin: 0 0 8px 0;
    display: flex;
    align-items: center;
  }
  &__image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  &__row {
    display: flex;
    padding: 0px 8px;
    align-items: center;
  }
  &__icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  &__author {
    font-size: 12px;
    color: #8a98ba;
    margin: 0px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__cal {
    margin: 0px;
    margin-left: 8px;
    font-size: 12px;
    color: #8a98ba;
  }
  &__title {
    margin: 0;
    margin-left: 8px;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
  }
  &__add {
    z-index: 10;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}
.nutrition {
  margin-bottom: 48px;
  border-bottom: 1px solid #dbdbdb;

  &__detail {
    height: 70px;
    padding: 0 8px;
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--top {
      border: none;
    }
  }
  &__name {
    margin: 0;
  }
  &__amount-unit {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 60%;
    max-width: 300px;
  }
  &__amount {
    font-size: 15px;
  }
  &__form-field {
    font-size: 5px;
    width: 65%;
  }
  &__prefix {
    font-size: 15px;
    width: 30px;
    margin: 0 4px;
  }
}

.mat-tab-label {
  width: 50%;
}
.no-recipe {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  margin-top: 16px;
  &__image {
    justify-self: center;
    margin-bottom: 8px;
  }
  &__text {
    justify-self: center;
    opacity: 0.87;
    &--end {
      margin-bottom: 8px;
    }
  }
  &__button {
    justify-self: center;
    max-width: 200px;
  }
}
