.form-body {
  margin-top: 48px;
  margin-bottom: 24px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  background: #ffff;
  &__body {
    margin-bottom: 40px;
  }
  &__weight {
    width: 50%;
  }
  &__fat {
    width: 50%;
  }
  &__form-body__memo {
    width: 100%;
  }
  &__memo-textarea {
    height: 100px;
  }
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 25%;
}
