.bottom-sheet {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 16px;
}

.choice-input {
  text-align: right;
}

.suffix {
  margin-left: 8px;
}

.amountper {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
  color: #009688;
  margin-bottom: 24px;
}

.nav {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
