<div class="bottom-sheet">
  <p class="text">{{ data.food ? data.food.foodName : data.set.setTitle }}</p>
  <p class="amountper">
    {{ data.food ? data.food.foodCalPerAmount : data.set.setCal }}kcal/{{
      data.food ? data.food.unit : 'セット'
    }}
  </p>

  <form class="form">
    <mat-form-field [formGroup]="amountForm" appearance="outline">
      <mat-label>数量を入力してください</mat-label>
      <input
        matInput
        class="choice-input"
        autocomplete="off"
        formControlName="amount"
        [max]="data.maxAmount"
        [min]="data.minAmount"
        step="0.1"
        [(ngModel)]="amount"
        type="number"
      />
      <span matSuffix class="suffix">{{
        data.food ? data.food.unit : 'セット'
      }}</span>
      <mat-error *ngIf="amount > data.maxAmount || amount < data.minAmount"
        >{{ data.minAmount }}〜{{
          data.maxAmount
        }}の範囲でで入力してください</mat-error
      >
      <mat-hint align="end">
        {{
          data.food
            ? (data.food.foodCalPerAmount * amount | number: '1.1-1')
            : (data.set.setCal * amount | number: '1.1-1')
        }}kcal</mat-hint
      >
      <mat-error *ngIf="amountControl.hasError('required')"
        >必須入力です
      </mat-error>
    </mat-form-field>
  </form>

  <div class="nav">
    <button mat-stroked-button (click)="bottomSheetRef.dismiss()">
      キャンセル
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="addFood(amount)"
      [disabled]="amountForm.invalid"
    >
      OK
    </button>
  </div>
</div>
