.card {
  margin: 0 auto;
  margin-bottom: 32px;

  &--meal {
    margin-bottom: 16px;
  }

  &__icon {
    width: 20px;
    display: flex;
    align-items: center;

    &--breakfast {
      width: 30px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
  }

  &__no-meal {
    margin-top: 8px;
    padding: 0 8px;
  }

  &__head-left {
    display: flex;
  }

  &__head-right {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }

  &__food-name {
    width: 40%;
    hyphens: auto;
    overflow-wrap: anywhere;
  }
}

.meal-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

:host ::ng-deep {
  .mat-expansion-panel-body {
    padding: 0 0 16px;
  }
}

.mat-expansion-panel-header {
  padding: 0 8px 0;
}
