<div class="grid">
  <div class="recipe">
    <img
      class="recipe__thumbnail"
      src="http://placehold.it/120x120"
      alt="サムネイル"
    />
    <div class="recipe__row">
      <img
        class="recipe__icon"
        src="http://placehold.it/40"
        alt="プロフィールアイコン"
      />
      <p class="recipe__author">作者</p>
    </div>
    <h2 class="recipe__title">
      タイトル
    </h2>
    <p class="recipe__cal">XXXkcal</p>
  </div>
  <div class="recipe">
    <img
      class="recipe__thumbnail"
      src="http://placehold.it/120x120"
      alt="サムネイル"
    />
    <div class="recipe__row">
      <img
        class="recipe__icon"
        src="http://placehold.it/40"
        alt="プロフィールアイコン"
      />
      <p class="recipe__author">作者</p>
    </div>
    <h2 class="recipe__title">
      タイトル
    </h2>
    <p class="recipe__cal">XXXkcal</p>
  </div>
  <div class="recipe">
    <img
      class="recipe__thumbnail"
      src="http://placehold.it/120x120"
      alt="サムネイル"
    />
    <div class="recipe__row">
      <img
        class="recipe__icon"
        src="http://placehold.it/40"
        alt="プロフィールアイコン"
      />
      <p class="recipe__author">作者</p>
    </div>
    <h2 class="recipe__title">
      タイトル
    </h2>
    <p class="recipe__cal">XXXkcal</p>
  </div>
  <div class="recipe">
    <img
      class="recipe__thumbnail"
      src="http://placehold.it/120x120"
      alt="サムネイル"
    />
    <div class="recipe__row">
      <img
        class="recipe__icon"
        src="http://placehold.it/40"
        alt="プロフィールアイコン"
      />
      <p class="recipe__author">作者</p>
    </div>
    <h2 class="recipe__title">
      タイトル
    </h2>
    <p class="recipe__cal">XXXkcal</p>
  </div>
  <div class="recipe">
    <img
      class="recipe__thumbnail"
      src="http://placehold.it/120x120"
      alt="サムネイル"
    />
    <div class="recipe__row">
      <img
        class="recipe__icon"
        src="http://placehold.it/40"
        alt="プロフィールアイコン"
      />
      <p class="recipe__author">作者</p>
    </div>
    <h2 class="recipe__title">
      タイトル
    </h2>
    <p class="recipe__cal">XXXkcal</p>
  </div>
</div>

<button mat-fab color="primary" class="create">
  <mat-icon routerLink="/recipe-create">add</mat-icon>
</button>
