<h1>マイレシピ</h1>
<div class="border"></div>
<div class="grid">
  <div
    class="recipe"
    *ngFor="let recipe of myRecipes$ | async"
    routerLink="/recipe-detail"
    [queryParams]="{ id: recipe.recipeId }"
  >
    <img class="recipe__thumbnail" [src]="recipe.recipeThumbnailURL" alt="" />

    <div class="recipe__row">
      <img
        class="recipe__icon"
        [src]="recipe.author.avatarURL"
        alt="プロフィールアイコン"
      />
      <p class="recipe__author">{{ recipe.author.name }}</p>
    </div>
    <h2 class="recipe__title">
      {{ recipe.recipeTitle }}
    </h2>
    <p *ngIf="recipe.recipelCal" class="recipe__cal">
      {{ recipe.recipelCal }}kcal
    </p>
    <p *ngIf="!recipe.recipelCal" class="recipe__cal">--</p>
  </div>
</div>
<h1>他ユーザーのレシピ</h1>
<div class="border"></div>
<div class="grid">
  <div
    class="recipe"
    *ngFor="let recipe of publicRecipes$ | async"
    routerLink="/recipe-detail"
    [queryParams]="{ id: recipe.recipeId }"
  >
    <img class="recipe__thumbnail" [src]="recipe.recipeThumbnailURL" alt="" />

    <div class="recipe__row">
      <img
        class="recipe__icon"
        [src]="recipe.author.avatarURL"
        alt="プロフィールアイコン"
      />
      <p class="recipe__author">{{ recipe.author.name }}</p>
    </div>
    <h2 class="recipe__title">
      {{ recipe.recipeTitle }}
    </h2>
    <p *ngIf="recipe.recipelCal" class="recipe__cal">
      {{ recipe.recipelCal }}kcal
    </p>
    <p *ngIf="!recipe.recipelCal" class="recipe__cal">--</p>
  </div>
</div>

<button mat-fab color="primary" (click)="forwardbackToForm()" class="create">
  <mat-icon>add</mat-icon>
</button>
