@import '~@angular/material/theming';
:host {
  display: block;
  padding: 24px 0;
}
h1 {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
p {
  margin: 0;
}
.border {
  width: 80px;
  margin: 0 auto;
  border-top: 4px solid #009688;
  margin-bottom: 16px;
}
.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  margin-bottom: 32px;
}
.recipe {
  justify-self: center;
  width: 140px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
  @include mat-elevation(2);
  &:hover {
    @include mat-elevation(4);
  }
  &__thumbnail {
    width: 140px;
    height: 94px;
    border-radius: 10px 10px 0px 0px;
    background: #c6c6c6 center/cover;
    margin: 0 0 8px 0;
    display: flex;
    align-items: center;
  }
  &__image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  &__row {
    display: flex;
    padding: 0px 8px;
    align-items: center;
  }
  &__icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  &__author {
    font-size: 12px;
    color: #8a98ba;
    margin: 0px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__cal {
    margin: 0px;
    margin-left: 8px;
    font-size: 12px;
    color: #8a98ba;
  }
  &__title {
    margin: 0;
    margin-left: 8px;
    font-size: 15px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
}
.create {
  display: flex;
  justify-content: flex-end;
  &__button {
    position: fixed;
    z-index: 5;
    bottom: 80px;
    @media screen and(max-width:750px) {
      right: 24px;
    }
  }
}
.no-recipe {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  margin-bottom: 48px;

  &__image {
    justify-self: center;
    margin-bottom: 8px;
  }
  &__text {
    justify-self: center;
    opacity: 0.87;
    margin-bottom: 8px;
  }
  &__button {
    justify-self: center;
    max-width: 200px;
  }
}
.spinner {
  margin: 0 auto;
  margin-top: 32px;
}
