@import '~@angular/material/theming';
:host {
  display: block;
  padding: 24px 0;
}
h1 {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.border {
  width: 80px;
  margin: 0 auto;
  border-top: 5px solid #009688;
  margin-bottom: 16px;
}
.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  margin-bottom: 32px;
}
.recipe {
  justify-self: center;
  width: 140px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
  &:hover {
    @include mat-elevation(2);
  }
  &__thumbnail {
    width: 140px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 8px;
    background: #c6c6c6 center/cover;
  }
  &__row {
    display: flex;
    padding: 0px 8px;
    align-items: center;
  }
  &__icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  &__author {
    font-size: 12px;
    color: #8a98ba;
    margin: 0px;
    margin-left: 8px;
  }
  &__cal {
    margin: 0px;
    margin-left: 8px;
    font-size: 12px;
    color: #8a98ba;
  }
  &__title {
    margin: 0;
    margin-left: 8px;
    font-size: 15px;
    font-weight: normal;
  }
}
.create {
  position: absolute;
  position: fixed;
  bottom: 80px;
  right: 24px;
  z-index: 5;
}
