<div class="loading" *ngIf="myRecipeloading && publicRecipeloading">
  <mat-spinner class="loading__spinner" diameter="30"></mat-spinner>
</div>
<div *ngIf="!myRecipeloading && !publicRecipeloading">
  <h1 class="title">マイレシピ</h1>
  <div class="border"></div>

  <ng-template #noMyRecipe>
    <div class="no-recipe">
      <img class="no-recipe__image" src="/assets/images/recipe.svg" alt="" />
      <p class="no-recipe__text">マイレシピはまだ登録されていません。</p>
      <p class="no-recipe__text no-recipe__text--end">
        オリジナルの１品を登録しましょう。
      </p>
      <a
        mat-stroked-button
        color="primary"
        class="no-recipe__button"
        routerLink="/recipe-editor"
      >
        <mat-icon>add</mat-icon><span>登録する</span>
      </a>
    </div>
  </ng-template>
  <div class="grid" *ngIf="myRecipes && myRecipes.length > 0; else noMyRecipe">
    <div
      class="recipe"
      *ngFor="let recipe of myRecipes"
      routerLink="/recipe-detail"
      [queryParams]="{ id: recipe.recipeId }"
    >
      <figure class="recipe__thumbnail">
        <img class="recipe__image" [src]="recipe.recipeThumbnailURL" alt="" />
      </figure>
      <div class="recipe__content">
        <div class="recipe__row">
          <img
            class="recipe__icon"
            [src]="recipe.author.avatarURL"
            alt="プロフィールアイコン"
          />
          <p class="recipe__author">
            {{ recipe.author.name }}
          </p>
        </div>
        <h2 class="recipe__title">
          {{ recipe.recipeTitle }}
        </h2>
        <p class="recipe__cal">
          {{ recipe.recipeCal ? recipe.recipeCal : 0 }}kcal
        </p>
      </div>
    </div>
  </div>
  <div class="more-button" *ngIf="isMyRecipeNext">
    <button mat-flat-button color="primary" (click)="loadMyRecipes()">
      もっと見る
    </button>
  </div>

  <h1 class="title">公開レシピ</h1>
  <div class="border"></div>
  <ng-template #noPublicRecipe>
    <div class="no-recipe">
      <p class="no-recipe__text">公開されているレシピはまだありません。</p>
    </div>
  </ng-template>
  <div
    class="grid"
    *ngIf="publicRecipes && publicRecipes.length > 0; else noPublicRecipe"
  >
    <div
      class="recipe"
      *ngFor="let recipe of publicRecipes"
      routerLink="/recipe-detail"
      [queryParams]="{ id: recipe.recipeId }"
    >
      <figure class="recipe__thumbnail">
        <img class="recipe__image" [src]="recipe.recipeThumbnailURL" alt="" />
      </figure>
      <div class="recipe__content">
        <div class="recipe__row">
          <img
            class="recipe__icon"
            [src]="recipe.author.avatarURL"
            alt="プロフィールアイコン"
          />
          <p class="recipe__author">
            {{ recipe.author.name }}
          </p>
        </div>
        <h2 class="recipe__title">
          {{ recipe.recipeTitle }}
        </h2>
        <p class="recipe__cal">
          {{ recipe.recipeCal ? recipe.recipeCal : 0 }}kcal
        </p>
      </div>
    </div>
  </div>
  <div class="more-button" *ngIf="isPublicRecipeNext">
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="loadPublicRecipes()"
    >
      もっと見る
    </button>
  </div>

  <div class="create">
    <a
      *ngIf="myRecipes && myRecipes.length > 0"
      mat-fab
      color="primary"
      routerLink="/recipe-editor"
      class="create__button"
    >
      <mat-icon>add</mat-icon>
    </a>
  </div>
</div>
