<div class="top">
  <div class="top__discription top__discription--card">
    <img src="/assets/images/usage/card.png" alt="" class="top__card" />
    <p class="top__icon-discription">
      カードはその日の体重、体脂肪率、総摂取カロリーを表示します。またアイコンを選択することで
      それぞれの編集ページへ移動します。
    </p>
    <div class="top__icons">
      <div class="top__icon">
        <img src="/assets/images/scale.svg" alt="" class="top__icon-image" />
        <p class="top__icon-name">体重・体脂肪</p>
      </div>
      <div class="top__icon">
        <img src="/assets/images/memo.svg" alt="" class="top__icon-image" />
        <p class="top__icon-name">メモ</p>
      </div>
      <div class="top__icon">
        <img
          src="/assets/images/breakfast.svg"
          alt=""
          class="top__icon-image top__icon-image--breakfast"
        />
        <p class="top__icon-name">朝食</p>
      </div>
      <div class="top__icon">
        <img src="/assets/images/lunch.svg" alt="" class="top__icon-image" />
        <p class="top__icon-name">昼食</p>
      </div>
      <div class="top__icon">
        <img src="/assets/images/dinner.svg" alt="" class="top__icon-image" />
        <p class="top__icon-name">夕食</p>
      </div>
    </div>
    <p class="top__text top__text--card">
      カード自体を選択することで その日の詳細ページへ移動します。
      詳細ページでは各アイコンで編集した項目の結果を確認できます。
    </p>
  </div>
  <div class="border"></div>
  <div class="top__discription top__discription--calendar">
    <img src="/assets/images/usage/calendar.png" alt="" class="top__calendar" />
    <p class="top__text top__text--calendar">
      カレンダーの日付を選択することでも 選択した日付の詳細ページへ移動できます
    </p>
  </div>
</div>
