.wrap-title {
  font-size: 16px;
}

.top {
  &__discription {
    margin: 40px 0;
    @media screen and(min-width:750px) {
      display: grid;
      &--card {
        grid-template-areas:
          'card icon-text '
          'card icons'
          'card-text  card-text';
        gap: 16px;
      }
      &--calendar {
        align-items: center;
        grid-template-areas: 'calendar calendar-text';
      }
    }
  }
  &__card {
    max-width: 300px;
    grid-area: card;
    justify-self: center;
    display: block;
    margin: 0 auto;
    @media screen and(max-width:750px) {
      margin-bottom: 32px;
    }
  }
  &__text {
    line-height: 24px;

    @media screen and(min-width:750px) {
      text-align: center;
      &--card {
        grid-area: card-text;
      }
      &--calendar {
        grid-area: calendar-text;
      }
    }
  }

  &__icon-discription {
    grid-area: icon-text;
    align-self: center;
    margin-bottom: 32px;
  }
  &__icons {
    grid-area: icons;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    @media screen and(max-width:750px) {
      margin-bottom: 32px;
    }
  }

  &__icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon-image {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    &--breakfast {
      width: 55px;
    }
  }
  &__icon-name {
    font-size: 14px;
    color: #009688;
  }
  &__calendar {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    grid-area: calendar;
  }
}
