@import '~@angular/material/theming';
.set-detail {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  background: #fff;
  padding: 32px 4px;
  @include mat-elevation(1);
}
.nav {
  position: sticky;
  padding: 0 8px;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: #fff;
  @include mat-elevation(1);
}
.update-to-page {
  margin-right: 16px;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
h2 {
  padding-left: 8px;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}

.content {
  height: 24px;
  padding: 8px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 24px;
  background: #ffff;
  display: flex;
  justify-content: space-between;
  &__head {
    @media screen and(min-width:750px) {
      margin-top: 32px;
    }
  }
  &--meals {
    border: none;
  }

  &__meal-name {
    box-sizing: border-box;
    font-size: 14px;
    height: 32px;
    width: 68px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid rgba(#000000, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    margin-top: 4px;
  }
}
.not-seletected {
  background: #fff;
}

.food {
  border-top: 1px solid #dbdbdb;
  background: #fff;
  margin-bottom: 32px;
  &__detail {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
    border-bottom: 1px solid #dbdbdb;
  }
}

.nutrition {
  border-top: 1px solid #dbdbdb;
  background: #fff;
  margin-bottom: 32px;
  &__detail {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #dbdbdb;
    height: 24px;
  }
}
.spinner {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
