<div class="nav">
  <button
    class="back-to-page"
    mat-icon-button
    mat-raised-button
    routerLink="/menu"
  >
    <mat-icon>navigate_before</mat-icon>
  </button>
  <div class="spacer"></div>
  <button
    class="update-to-page"
    mat-icon-button
    mat-raised-button
    color="primary"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button mat-raised-button class="delete" color="warn">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div class="content--head">
  <h2 class="content__name">セット名</h2>
  <div class="content">
    <h1>セットタイトル</h1>
  </div>
</div>

<div class="content content--buttons">
  <button mat-flat-button color="primary">朝食</button>
  <button mat-stroked-button style="background: #ffff;" color="primary">
    昼食
  </button>
  <button mat-flat-button color="primary">夕食</button>
</div>

<h2 class="content__name">食べ物一覧</h2>
<div class="food">
  <div class="food__detail">
    <h3 class="food__name">apple</h3>
    <p>XXXg</p>
  </div>
</div>

<h2 class="content__name">栄養素</h2>

<div class="nutrition">
  <div class="nutrition__detail">
    <h3 class="nutrition__name">総カロリー</h3>
    <p>XXXkcal</p>
  </div>
  <div class="nutrition__detail">
    <h3 class="nutrition__name">タンパク質</h3>
    <p>XXXg</p>
  </div>
  <div class="nutrition__detail">
    <h3 class="nutrition__name">
      脂質
    </h3>
    <p>XXXg</p>
  </div>
  <div class="nutrition__detail">
    <h3 class="nutrition__name">
      糖質
    </h3>
    <p>XXXg</p>
  </div>
  <div class="nutrition__detail">
    <h3 class="nutrition__name">
      食物繊維
    </h3>
    <p>XXXg</p>
  </div>
  <div class="nutrition__detail">
    <h3 class="nutrition__name">
      炭水化物
    </h3>
    <p>XXXg</p>
  </div>
</div>
