<div class="nav">
  <button class="back-to-page" mat-icon-button routerLink="/menu/set-list">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <h1>マイセット詳細画面</h1>
  <div class="nav-wrap">
    <button
      class="update-to-page"
      mat-icon-button
      color="primary"
      routerLink="/set-editor"
      [queryParams]="{ id: setId }"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      class="delete"
      color="warn"
      (click)="openDeleteDialog()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div class="spinner" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="container">
  <div class="set-detail" *ngIf="!loading">
    <div *ngIf="set">
      <div class="content__head">
        <h2 class="content__name">セット名</h2>
        <div class="content">
          <h1>{{ set.setTitle }}</h1>
        </div>
      </div>

      <div class="content content--meals">
        <p
          class="content__meal-name"
          [style.background]="mealOfSet.breakfast ? '#009688' : '#ffff'"
          [style.border]="
            mealOfSet.breakfast ? 'none' : '1px solid rgba(#000000, 0.12)'
          "
          [style.color]="mealOfSet.breakfast ? '#ffff' : '#009688'"
        >
          朝食
        </p>
        <p
          class="content__meal-name"
          [style.background]="mealOfSet.lunch ? '#009688' : '#ffff'"
          [style.border]="
            mealOfSet.lunch ? 'none' : '1px solid rgba(#000000, 0.12)'
          "
          [style.color]="mealOfSet.lunch ? '#ffff' : '#009688'"
        >
          昼食
        </p>
        <p
          class="content__meal-name"
          [style.background]="mealOfSet.dinner ? '#009688' : '#ffff'"
          [style.border]="
            mealOfSet.dinner ? 'none' : '1px solid rgba(#000000, 0.12)'
          "
          [style.color]="mealOfSet.dinner ? '#ffff' : '#009688'"
        >
          夕食
        </p>
      </div>

      <h2 class="content__name">食べ物一覧</h2>
      <div class="food">
        <div class="food__detail" *ngFor="let food of set.foodsArray">
          <h3 class="food__name">{{ food.foodName }}</h3>
          <p>{{ food.amount }}g</p>
        </div>
      </div>

      <h2 class="content__name">栄養素</h2>

      <div class="nutrition">
        <div class="nutrition__detail">
          <h3 class="nutrition__name">総カロリー</h3>
          <p>{{ set.setCal }}kcal</p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">タンパク質</h3>
          <p>{{ set.setProtein }}g</p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            脂質
          </h3>
          <p>{{ set.setFat }}g</p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            糖質
          </h3>
          <p>{{ set.setSugar }}g</p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            食物繊維
          </h3>
          <p>{{ set.setDietaryFiber }}g</p>
        </div>
        <div class="nutrition__detail">
          <h3 class="nutrition__name">
            炭水化物
          </h3>
          <p>{{ set.setTotalCarbohydrate }}g</p>
        </div>
      </div>
    </div>
  </div>
</div>
