<div class="container">
  <div class="wrap wrap--head">
    <h2 class="wrap__title">
      お問い合わせ先
    </h2>
    <p class="wrap__text">{{ 'kakihk695@gmail.com' }}</p>
    <p class="wrap__text">
      <a class="link" href="https://twitter.com/kaki_fhmcn" target="_blank"
        ><span class="link__text">Twitterアカウント</span
        ><mat-icon>open_in_new</mat-icon></a
      >
    </p>
  </div>

  <div class="wrap">
    <h2 class="wrap__title">
      販売価格
    </h2>
    <p class="wrap__text">
      <a class="link" routerLink="/billing"
        ><span class="link__text">決済ページ</span></a
      >をご参照ください。
    </p>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">
      支払い方法
    </h2>
    <p class="wrap__text">クレジットカード決済（Stripe）</p>
    <p class="wrap__text">
      <a class="link" href="https://stripe.com/jp" target="_blank"
        ><span class="link__text">ストライプジャパン株式会社</span
        ><span class="list__icon"><mat-icon>open_in_new</mat-icon></span></a
      >（以下、Stripe社）が提供する決済システム「Stripe」を利用します。Stripeの利用条件、引き落とし時期及びその他Stripeに関する事項は、Stripe社が定める規約によるものとします。
    </p>
  </div>
  <div class="wrap">
    <h2 class="wrap__title">
      キャンセル料について
    </h2>
    <p class="wrap__text">
      原則、返金はできませんので、ご了承ください。
    </p>
  </div>
</div>
