<form [formGroup]="form">
  <div class="form-body">
    <div class="form-body__body">
      <mat-form-field class="form-body__weight">
        <mat-label>体重</mat-label>
        <input
          formControlName="currentWeight"
          type="number"
          matInput
          required
        />
      </mat-form-field>
      <mat-form-field class="form-body__fat">
        <mat-label>体脂肪</mat-label>
        <input formControlName="currentFat" type="number" matInput required />
      </mat-form-field>
    </div>

    <mat-form-field class="form-body__memo">
      <mat-label>1日メモ</mat-label>
      <textarea
        class="form-body__memo-textarea"
        formControlName="dailyMemo"
        matInput
      ></textarea>
    </mat-form-field>
  </div>
</form>
<button (click)="back()" mat-stroked-button color="primary">戻る</button>
