<div class="grid">
  <div class="card">
    <div class="card__body" routerLink="">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>

  <div class="card">
    <div class="card__body">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>
  <div class="card">
    <div class="card__body">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>
  <div class="card">
    <div class="card__body">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>
  <div class="card">
    <div class="card__body">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>
  <div class="card">
    <div class="card__body">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>
  <div class="card">
    <div class="card__body">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>
  <div class="card">
    <div class="card__body">
      <img src="http://placehold.it/165x100" alt="foods" />
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            タイトル
          </h2>
          <p class="card__cal">
            XXXkcal
          </p>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
            <li>ブロッコリー</li>
          </ul>
          <mat-icon class="card__icon">more_horiz</mat-icon>
        </div>
      </div>
    </div>
    <div class="card__buttons">
      <button mat-flat-button color="primary">朝食</button>
      <div class="spacer"></div>
      <button mat-stroked-button color="primary">昼食</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">夕食</button>
    </div>
  </div>
</div>
<button mat-fab color="primary" class="create">
  <mat-icon>add</mat-icon>
</button>
