<mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
<div *ngIf="!loading">
  <ng-template #noSet>
    <div class="no">
      <h3 class="no__title">
        <mat-icon color="primary">bookmark</mat-icon
        >マイセットはまだ登録されていません。
      </h3>

      <p class="no__text">
        食べる頻度が多い食べ物をまとめて登録できる機能です。
      </p>
      <figure class="no__figure">
        <p class="no__example">（例）カレーセット</p>
        <img class="no__image" src="/assets/images/ex-set.png/" alt="" />
      </figure>
      <p class="no__text">
        自分だけのマイセットを登録しましょう！
      </p>
      <button
        mat-stroked-button
        color="primary"
        (click)="forwardbackToForm()"
        class="no__create"
      >
        <mat-icon>add</mat-icon><span>登録する</span>
      </button>
    </div>
  </ng-template>
  <div class="set" *ngIf="sets && sets.length > 0; else noSet">
    <div class="grid">
      <div
        class="card"
        *ngFor="let set of sets; index as i"
        routerLink="/set-detail"
        [queryParams]="{ id: set.setId }"
      >
        <div class="card__body">
          <div class="card__content">
            <div class="card__row">
              <h2 class="card__title">
                {{ set.setTitle }}
                <span class="card__cal">{{ set.setCal }}kcal</span>
              </h2>
            </div>
            <div class="card__row">
              <ul class="card__foods">
                <li
                  *ngFor="let food of set.foodsArray | slice: 0:5; index as j"
                >
                  <p>{{ food.foodName }}</p>
                  <span *ngIf="j === 4 ? true : false"
                    ><mat-icon>more_horiz</mat-icon></span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="meals">
            <p
              class="card__meal-name"
              [style.background]="
                mealOfAllSets[i].breakfast ? '#009688' : '#ffff'
              "
              [style.border]="
                mealOfAllSets[i].breakfast
                  ? 'none'
                  : '1px solid rgba(#000000, 0.12)'
              "
              [style.color]="mealOfAllSets[i].breakfast ? '#ffff' : '#009688'"
            >
              朝食
            </p>
            <p
              class="card__meal-name"
              [style.background]="mealOfAllSets[i].lunch ? '#009688' : '#ffff'"
              [style.border]="
                mealOfAllSets[i].lunch
                  ? 'none'
                  : '1px solid rgba(#000000, 0.12)'
              "
              [style.color]="mealOfAllSets[i].lunch ? '#ffff' : '#009688'"
            >
              昼食
            </p>

            <p
              class="card__meal-name"
              [style.background]="mealOfAllSets[i].dinner ? '#009688' : '#ffff'"
              [style.border]="
                mealOfAllSets[i].dinner
                  ? 'none'
                  : '1px solid rgba(#000000, 0.12)'
              "
              [style.color]="mealOfAllSets[i].dinner ? '#ffff' : '#009688'"
            >
              夕食
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap" *ngIf="sets && sets.length > 0">
    <button mat-fab color="primary" class="nav" (click)="forwardbackToForm()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
