@import '~@angular/material/theming';
:host {
  display: block;
  padding: 24px 0;
}
.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
p {
  margin: 0;
}

.card {
  outline: none;
  &__body {
    padding: 0px 16px 0px 8px;
    background: #fff;
    display: flex;
    align-items: center;
    height: 155px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    @include mat-elevation(2);
    &:hover {
      @include mat-elevation(4);
    }
  }
  &__content {
    height: 100px;
    margin-right: 32px;
    flex: 1;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 16px;
    font-weight: normal;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  &__cal {
    font-size: 14px;
    color: #8a98ba;
    margin-left: 16px;
  }
  &__foods {
    padding-left: 32px;
    margin: 0;
    font-size: 13px;
    color: #3e3f68;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content: space-between;
      min-width: 150px;
      height: 18px;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &__icon {
    align-self: flex-end;
    color: #3e3f68;
    opacity: 0.7;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
  }
  button {
    margin-bottom: 4px;
    margin-top: 4px;
  }
}
.nav {
  position: absolute;
  position: fixed;
  bottom: 80px;
  right: 24px;
  z-index: 5;
}

.no {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  &__text {
    text-align: center;
    margin-bottom: 32px;
  }
  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
  &__example {
    font-size: 15px;
    margin: 0;
    color: rgba(#000000, 0.6);
  }
  &__image {
    background: center/cover;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  &__create {
    margin: 0 auto 16px auto;
    max-width: 200px;
  }
}
