<div class="grid">
  <div
    class="card"
    *ngFor="let set of sets; index as i"
    routerLink="/set-detail"
    [queryParams]="{ id: set.setId }"
  >
    <div class="card__body">
      <div class="card__content">
        <div class="card__row">
          <h2 class="card__title">
            {{ set.setTitle }}
            <span class="card__cal">{{ set.setCal }}kcal</span>
          </h2>
        </div>
        <div class="card__row">
          <ul class="card__foods">
            <li *ngFor="let food of set.foodsArray | slice: 0:5; index as j">
              <p>{{ food.foodName }}</p>
              <span *ngIf="j === 4 ? true : false"
                ><mat-icon>more_horiz</mat-icon></span
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="card__buttons">
        <button
          *ngIf="mealOfAllSets[i].breakfast"
          mat-flat-button
          color="primary"
          (click)="
            updateMeal(set.setId, 'breakfast', false, i);
            $event.stopPropagation()
          "
        >
          朝食
        </button>
        <button
          *ngIf="!mealOfAllSets[i].breakfast"
          mat-stroked-button
          color="primary"
          (click)="
            updateMeal(set.setId, 'breakfast', true, i);
            $event.stopPropagation()
          "
        >
          朝食
        </button>
        <button
          *ngIf="mealOfAllSets[i].lunch"
          mat-flat-button
          (click)="
            updateMeal(set.setId, 'lunch', false, i); $event.stopPropagation()
          "
          color="primary"
        >
          昼食
        </button>
        <button
          *ngIf="!mealOfAllSets[i].lunch"
          mat-stroked-button
          color="primary"
          (click)="
            updateMeal(set.setId, 'lunch', true, i); $event.stopPropagation()
          "
        >
          昼食
        </button>
        <button
          *ngIf="mealOfAllSets[i].dinner"
          mat-flat-button
          color="primary"
          (click)="
            updateMeal(set.setId, 'dinner', false, i); $event.stopPropagation()
          "
        >
          夕食
        </button>
        <button
          *ngIf="!mealOfAllSets[i].dinner"
          mat-stroked-button
          color="primary"
          (click)="
            updateMeal(set.setId, 'dinner', true, i); $event.stopPropagation()
          "
        >
          夕食
        </button>
      </div>
    </div>
  </div>
</div>
<button mat-fab color="primary" class="create" (click)="forwardbackToForm()">
  <mat-icon>add</mat-icon>
</button>
