@use '~@angular/material' as mat;

@include mat.core();

$be-healthy-primary: mat.define-palette(mat.$teal-palette, 500);
$be-healthy-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$be-healthy-warn: mat.define-palette(mat.$red-palette, 500);

$be-healthy-theme: mat.define-light-theme(
  $be-healthy-primary,
  $be-healthy-accent,
  $be-healthy-warn
);

@include mat.all-component-themes($be-healthy-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafafa;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  opacity: 0.87;
}

.border {
  margin: 0;
  border-top: 1px solid #000;
  opacity: 0.2;
}

.container {
  padding: 0 16px;
  padding-bottom: 48px;
  max-width: 700px;
  margin: 0 auto;

  @media screen and (max-width: 750px) {
    padding-bottom: 80px;
    margin: 0;
  }
}

.spacer {
  flex: 1;
}

.loading {
  height: 80%;
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__spinner {
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
  }
}

app-toolbar {
  width: 100%;
  height: auto;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  position: absolute;
  position: fixed;
}
