/* You can add global styles to this file, and also import other style files */

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafafa;
}
.border {
  margin-top: 0;
  border-top: 1px solid #000;
  opacity: 0.2;
}
.container {
  padding: 0 8px;
}

.meal__card {
  display: flex;
  align-items: center;
  .spacer {
    flex: 1;
  }
}
app-toolbar {
  width: 100%;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  position: absolute;
  position: fixed;
}
