@import '~@angular/material/theming';

@include mat-core();

$my-app-primary: mat-palette($mat-teal, 500);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-warn: mat-palette($mat-red, 500);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafafa;
}

.border {
  margin: 0;
  border-top: 1px solid #000;
  opacity: 0.2;
}

.container {
  padding: 0 8px;
  padding-bottom: 48px;
  max-width: 700px;
  margin: 0 auto;

  @media screen and (max-width: 750px) {
    padding-bottom: 80px;
    margin: 0;
  }
}

.spacer {
  flex: 1;
}

app-toolbar {
  width: 100%;
  height: auto;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  position: absolute;
  position: fixed;
}
