p {
  margin: 0 auto;
  max-width: 500px;
  font-family: 'Yuanti SC';
  font-weight: lighter;
  text-align: center;
}

.catergory {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: 'Yuanti SC';
    text-align: center;
    margin: 0;
    width: 20%;
    color: #009688;
    margin-bottom: 16px;
  }

  &__discription {
    font-family: 'Yuanti SC';
    font-weight: lighter;
    text-align: center;
    width: 60%;
    line-height: 1.8;
  }
}

.graph {
  padding: 32px 0;

  &__wrap {
    max-width: 700px;
    margin: 0 auto;

    &--period {
      display: grid;
      grid-template-columns: repeat(4, 25%);

      @media screen and (max-width: 750px) {
        row-gap: 32px;
        grid-template-columns: repeat(2, 50%);
      }
    }
  }

  &__discription {
    line-height: 1.8;

    @media screen and (max-width: 750px) {
      text-align: left;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-size: 18px;
  }

  &__emphasis {
    color: #009688;
  }

  &__image {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
  }
}

.link {
  color: #337ab7;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.border {
  margin: 64px auto;
}
