<div class="graph">
  <p class="graph__discription">
    グラフページでは日々入力している<span class="graph__emphasis"
      >体重・体脂肪・摂取カロリー</span
    >それぞれの結果がグラフに反映され視覚的に把握できます。
  </p>
  <div class="border"></div>
  <div class="graph__wrap">
    <p class="graph__text">４種類の期間が選択できます</p>
    <div class="catergory">
      <dl class="catergory__title">日</dl>
      <dt class="catergory__discription">
        １週間の各データを表示
      </dt>
    </div>
    <div class="catergory">
      <dl class="catergory__title">週</dl>
      <dt class="catergory__discription">
        週毎の平均データを表示
      </dt>
    </div>
    <div class="catergory">
      <dl class="catergory__title">月</dl>
      <dt class="catergory__discription">
        月毎の平均データを表示
      </dt>
    </div>
    <div class="catergory">
      <dl class="catergory__title">年</dl>
      <dt class="catergory__discription">
        年毎の平均データを表示
      </dt>
    </div>
  </div>
  <div class="border"></div>
  <div class="graph__wrap">
    <p class="graph__text">目標との差を確認しましょう</p>
    <img
      src="/assets/images/usage/graph.png
 "
      alt=""
      class="graph__image"
    />
    <p class="graph__text">
      <a routerLink="/more/profile" class="link">ユーザー情報ページ</a
      >で目標値を設定できます
    </p>
  </div>

  <div class="border"></div>

  <div class="graph__wrap">
    <p class="graph__text">日付の選択でいつでも過去のデータを確認できます</p>
    <img
      src="/assets/images/usage/date-picker.png
 "
      alt=""
      class="graph__image"
    />
  </div>
</div>
