* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  margin-bottom: 8px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  font-size: 17px;
  font-weight: normal;
}

p {
  margin: 0;
}

.wrap {
  width: 100%;
  max-height: 2000px;
}

.vertical-line {
  margin: 0 16px;
  width: 1px;
  height: 54px;
  background-color: rgba(#000, 0.2);
}

.dailyInfo {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-body__button {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.table {
  width: 100%;
  border-radius: 4px;
  max-width: 500px;
  margin-bottom: 32px;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__cell {
    display: flex;
    justify-content: center;
    text-align: right;
  }
}

.card {
  width: 100%;
  max-width: 500px;
  margin-bottom: 32px;

  &--meal {
    margin-bottom: 16px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__title {
    font-size: 20px;
  }

  &__button {
    position: absolute;
    right: 0;
  }

  &__icon {
    width: 20px;
    display: flex;
    align-items: center;

    &--breakfast {
      width: 30px;
    }
  }

  &__memo-title {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
  }

  &__no-meal {
    padding: 0 8px;
  }

  &__head-left {
    display: flex;
  }

  &__head-right {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__food-name {
    width: 40%;
    hyphens: auto;
    overflow-wrap: anywhere;
  }

  &__memo {
    margin-top: 0;
    width: 100%;

    &--noMemo {
      margin: 0;
    }
  }

  &__memo-textarea {
    margin: 0;
    padding: 8px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
    word-break: break-all;
    height: 100px;
  }

  &__memo-textarea-editor {
    width: 100%;
  }

  &__memo-textarea-field {
    width: 100%;
  }
}

.meal-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.form {
  width: 100%;
}

.form-body {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;

  &__weight {
    width: 45%;
  }

  &__fat {
    width: 45%;
  }

  &__suffix {
    margin-left: 8px;
  }

  &__button {
    text-align: center;
  }
}

.border {
  margin: 8px 0;
}

.pie-chart {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin-bottom: 8px;

  &__cal {
    width: 22%;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    top: 42%;
    left: 40%;
  }

  &__text {
    margin-bottom: 32px;
    margin-top: 8px;
    font-size: 13.5px;
    opacity: 0.87;
    max-width: 500px;
  }
}

ngx-charts-pie-chart {
  width: 100%;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep {
  .chart-legend .legend-labels {
    width: 100%;
    position: absolute;
    top: 90%;
    line-height: 1;
    left: 0;
    text-align: center;
    background: #fafafa;
    display: flex;
    justify-content: center;
  }

  .mat-expansion-panel-body {
    padding: 0 0 16px;
  }
}

.mat-expansion-panel-header {
  padding: 0 8px 0;
}
