* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  width: 100%;
  max-width: 500px;
  text-align: left;
  font-size: 17px;
  font-weight: normal;
}

p {
  margin: 0;
}

.wrap {
  max-height: 1500px;
}
.vertical-line {
  margin: 0 32px;
  width: 1px;
  height: 54px;
  background-color: rgba(#000, 0.2);
}

.back {
  height: 40px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  z-index: 10;
  border-left: none;
  border-right: none;
  border-radius: 0;
  position: sticky;
  top: 0;
}

.dailyInfo {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  width: 100%;
  border-radius: 4px;
  max-width: 500px;
  margin-bottom: 32px;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__cell {
    display: flex;
    justify-content: center;
    text-align: right;
  }
}

.card {
  width: 100%;
  max-width: 500px;
  margin-bottom: 32px;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__title {
    font-size: 20px;
  }

  &__button {
    position: absolute;
    right: 0;
  }

  &__icon-breakfast {
    margin-left: 8px;
    width: 30px;

    &--no-meal {
      opacity: 0.3;
    }
  }

  &__icon {
    margin-left: 8px;
    width: 20px;

    &--no-meal {
      opacity: 0.3;
    }
  }

  &__memo-title {
    margin-bottom: 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    height: 200px;
    overflow: scroll;
  }

  &__meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &__food-name {
    width: 40%;
    hyphens: auto;
    overflow-wrap: anywhere;
  }

  &__memo {
    margin-top: 0;
    width: 100%;

    &--noMemo {
      margin: 0;
    }
  }

  &__memo-textarea {
    margin: 0;
    padding: 8px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
    word-break: break-all;
    height: 100px;
  }

  &__memo-textarea-editor {
    width: 100%;
  }

  &__memo-textarea-field {
    width: 100%;
  }
}

.border {
  margin: 8px 0;
}

.pie-chart {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin-bottom: 8px;

  &__cal {
    width: 22%;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    top: 42%;
    left: 40%;
  }

  &__text {
    margin-bottom: 32px;
    font-size: 13.5px;
    opacity: 0.87;
    max-width: 500px;
  }
}

ngx-charts-pie-chart {
  width: 100%;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .chart-legend .legend-labels {
  width: 100%;
  position: absolute;
  top: 90%;
  line-height: 1;
  left: 0;
  text-align: center;
  background: #fafafa;
}
